{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full offender-details">
    <div class="offender-details__top">
      <dl>
        {% if subjectDetails.crn %}
          <dt>CRN:</dt>
          <dd>{{ subjectDetails.crn }}</dd>
        {% endif %}
        {% if subjectDetails.pnc %}
          <dt>PNC:</dt>
          <dd>{{ subjectDetails.pnc }}</dd>
        {% endif %}
        {% if subjectDetails.dateOfBirth %}
          <dt>Date of birth:</dt>
          <dd>{{ subjectDetails.dateOfBirth | formatDateForDisplay }}</dd>
        {% endif %}
      </dl>
      {% if form.section != "previous-versions" and not isPrivacyScreen %}
        <ul>
           {% if showPreviousVersionsLink %}
             <li>
                <a href="previous-versions" class="govuk-link govuk-link--no-visited-state" data-previous-versions-link>View previous versions</a>
             </li>
           {% endif %}
          <li>
            <a href="print-preview" class="govuk-link govuk-link--no-visited-state" data-print-link>View all answers</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half offender-details">
    <span class="offender-details__bottom">
      <h1 class="govuk-heading-m">{{ subjectDetails.givenName }} {{ subjectDetails.familyName }}</h1>
    </span>
    {% if pageTitle == "Previous versions" %}
      <span class="govuk-!-margin-bottom-1">
        <h2 class="govuk-heading-l form-header__title">Previous versions</h2>
      </span>
    {% endif %}
  </div>
  {% if not isPrivacyScreen and showReturnToOasysButton %}
    <div class="govuk-grid-column-one-half">
      <div class="form-header govuk-!-margin-bottom-0">
        <div class="form-header__actions">
          {{ govukButton({
            id: "return-to-oasys",
            text: "Return to OASys",
            classes: "" if assessmentIsComplete else "govuk-button--secondary",
            href: user.returnUrl | default("?defaultReturnUrlGoesHere"),
            attributes: {
              "data-ai-id": "return-to-oasys"
            }
          }) }}
        </div>
      </div>
    </div>
  {% endif %}
  <div id="assessment-info" class="govuk-visually-hidden" data-assessment-id="{{ sessionData.assessmentId }}"></div>
</div>
{% if isPrivacyScreen %}
  <hr class="govuk-section-break govuk-section-break--visible form-header__hr govuk-!-margin-bottom-3">
  <a class="govuk-back-link govuk-!-margin-bottom-5 govuk-!-margin-top-0" href="{{ oasysUrl }}">Back</a>
{% else %}
  <hr class="govuk-section-break govuk-section-break--visible form-header__hr">
{% endif %}
