{%- macro renderSelectedOptions(field) -%}
  <ul class="govuk-list">
    {% for option in field.options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSummaryListRow(label, value, changeLink) -%}
  <div class="govuk-summary-list__row as-block clearfix">
    <dt class="govuk-summary-list__key to-the-left">
      <span class="summary__label">{{ label }}</span>
    </dt>
    <dd class="govuk-summary-list__value to-the-left summary-value">
      {{ value }}
    </dd>
    <dd class="govuk-summary-list__actions to-the-right">
      <a class="govuk-link" href="{{ changeLink }}">
      Change<span class="govuk-visually-hidden">value for {{ label }}</span>
      </a>
    </dd>
  </div>
{%- endmacro -%}

{%- macro renderMoneyManagement(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["finance_money_management"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% switch option.value %}
          {% case "GOOD" %}
            <span class="summary__answer--secondary">{{ answers["good_money_management_details"] }}</span>
          {% case "FAIRLY_GOOD" %}
            <span class="summary__answer--secondary">{{ answers["fairly_good_money_management_details"] }}</span>
          {% case "FAIRLY_BAD" %}
            <span class="summary__answer--secondary">{{ answers["fairly_bad_money_management_details"] }}</span>
          {% case "BAD" %}
            <span class="summary__answer--secondary">{{ answers["bad_money_management_details"] }}</span>
          {% endswitch %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderFinanceChange(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["finance_changes"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {%- switch option.value -%}
            {% case "MADE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["finance_made_changes_details"] }}</span>
            {% case "MAKING_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["finance_making_changes_details"] }}</span>
            {% case "WANT_TO_MAKE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["finance_want_to_make_changes_details"] }}</span>
            {% case "NEEDS_HELP_TO_MAKE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["finance_needs_help_to_make_changes_details"] }}</span>
            {% case "THINKING_ABOUT_MAKING_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["finance_thinking_about_making_changes_details"] }}</span>
            {% case "DOES_NOT_WANT_TO_MAKE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["finance_does_not_want_to_make_changes_details"] }}</span>
            {% default %}
          {%- endswitch -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderFinanceIncome(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["finance_income"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {%- switch option.value -%}
            {% case "FAMILY_OR_FRIENDS" %}
              {%- switch answers["family_or_friends_details"] -%}
                {% case "YES" %}
                  <span class="summary__answer--secondary">Yes, over reliant on friends and family for money</span>
                {% case "NO" %}
                  <span class="summary__answer--secondary">No, not over reliant on friends and family for money</span>
              {%- endswitch -%}
            {% case "OTHER" %}
              <span class="summary__answer--secondary">{{ answers["other_income_details"] }}</span>
          {%- endswitch -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}


{%- macro renderFinanceGambling(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["finance_gambling"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {%- switch option.value -%}
            {% case "YES_THEIR_GAMBLING" %}
              <span class="summary__answer--secondary">{{ answers["yes_their_gambling_details"] }}</span>
            {% case "YES_SOMEONE_ELSES_GAMBLING" %}
              <span class="summary__answer--secondary">{{ answers["yes_someone_elses_gambling_details"] }}</span>
            {% case "NO" %}
              <span class="summary__answer--secondary">{{ answers["no_gambling_details"] }}</span>
            {% case "UNKNOWN" %}
              <span class="summary__answer--secondary">{{ answers["unknown_gambling_details"] }}</span>
            {% default %}
          {%- endswitch -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderFinanceBankAccount(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["finance_bank_account"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderFinanceDebt(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["finance_debt"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value == "YES_THEIR_DEBT" %}
            <ul class="govuk-list">
              {% for subOption in fields["yes_type_of_debt"].options %}
                {% if subOption.checked %}
                  <li class="summary-details-list">
                    <span class="summary__answer--secondary">{{ subOption.text }}</span>
                    {%- switch subOption.value -%}
                    {% case "FORMAL_DEBT" %}
                      <span class="summary__answer--secondary">{{ answers["yes_formal_debt_details"] }}</span>
                    {% case "DEBT_TO_OTHERS" %}
                      <span class="summary__answer--secondary">{{ answers["yes_debt_to_others_details"] }}</span>
                    {% case "FORMAL_AND_DEBT_TO_OTHERS" %}
                      <span class="summary__answer--secondary">{{ answers["yes_formal_debt_to_others_details"] }}</span>
                    {%- endswitch -%}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% elif option.value == "YES_SOMEONE_ELSES_DEBT" %}
            <ul class="govuk-list">
              {% for subOption in fields["yes_someone_elses_type_of_debt"].options %}
                {% if subOption.checked %}
                   <li class="summary-details-list">
                    <span class="summary__answer--secondary">{{ subOption.text }}</span>
                    {%- switch subOption.value -%}
                    {% case "FORMAL_DEBT" %}
                    <span class="summary__answer--secondary">{{ answers["yes_someone_elses_formal_debt_details"] }}</span>
                    {% case "DEBT_TO_OTHERS" %}
                    <span class="summary__answer--secondary">{{ answers["yes_someone_elses_debt_to_others_details"] }}</span>
                    {% case "FORMAL_AND_DEBT_TO_OTHERS" %}
                    <span class="summary__answer--secondary">{{ answers["yes_someone_elses_formal_debt_to_others_details"] }}</span>
                    {%- endswitch -%}
                    </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% elif option.value == "UNKNOWN" %}
            <ul class="govuk-list">
            <span class="summary__answer--secondary">{{ answers["unknown_debt_details"] }}</span>
            </ul>
          {% endif %}
        </li> 
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{% macro renderSummaryItemFor(field, options) %}
  {%- switch field -%}
  {% case "finance_money_management" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderMoneyManagement(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
    {% case "finance_changes" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderFinanceChange(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
    {% case "finance_gambling" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderFinanceGambling(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
    {% case "finance_debt" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderFinanceDebt(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
    {% case "finance_income" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderFinanceIncome(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
    {% case "finance_bank_account" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderFinanceBankAccount(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {%- endswitch -%}
{% endmacro %}

<dl class="govuk-summary-list">
  {{ renderSummaryItemFor("finance_income", { fields: fields, answers: answers, backLink: "finance" }) }}
  {{ renderSummaryItemFor("finance_bank_account", { fields: fields, answers: answers, backLink: "finance#finance_bank_account-hint" }) }}
  {{ renderSummaryItemFor("finance_money_management", { fields: fields, answers: answers, backLink: "finance#finance_money_management-hint" }) }}
  {{ renderSummaryItemFor("finance_gambling", { fields: fields, answers: answers, backLink: "finance" }) }}
  {{ renderSummaryItemFor("finance_debt", { fields: fields, answers: answers, backLink: "finance" }) }}
  {{ renderSummaryItemFor("finance_changes", { fields: fields, answers: answers, backLink: "finance" }) }}
</dl>
