{%- macro renderSelectedOptions(field) -%}
  <ul class="govuk-list">
    {% for option in field.options %}
      {% if option.checked %}
        <li>
          {{ option.text }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSummaryListRow(label, value, changeLink) -%}
  <div class="govuk-summary-list__row as-block clearfix">
    <dt class="govuk-summary-list__key to-the-left">
      {{ label }}
    </dt>
    <dd class="govuk-summary-list__value to-the-left summary-value">
      {{ value }}
    </dd>
    <dd class="govuk-summary-list__actions to-the-right">
      <a class="govuk-link" href="{{ changeLink }}">
      Change<span class="govuk-visually-hidden">value for {{ label }}</span>
      </a>
    </dd>
  </div>
{%- endmacro -%}

{%- macro renderMoneyManagement(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["finance_money_management"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span>{{ option.text }}</span>
          {% switch option.value %}
          {% case "GOOD" %}
            <span class="govuk-!-font-size-14">{{ answers["good_money_management_details"] }}</span>
          {% case "FAIRLY_GOOD" %}
            <span class="govuk-!-font-size-14">{{ answers["fairly_good_money_management_details"] }}</span>
          {% case "FAIRLY_BAD" %}
            <span class="govuk-!-font-size-14">{{ answers["fairly_bad_money_management_details"] }}</span>
          {% case "BAD" %}
            <span class="govuk-!-font-size-14">{{ answers["bad_money_management_details"] }}</span>
          {% endswitch %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderFinanceChange(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["changes_to_finance"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span>{{ option.text }}</span>
          {%- switch option.value -%}
            {% case "POSITIVE_CHANGES" %}
              <span class="govuk-!-font-size-14">{{ answers["finance_positive_change_details"] }}</span>
            {% case "ACTIVE_CHANGE" %}
              <span class="govuk-!-font-size-14">{{ answers["finance_active_change_details"] }}</span>
            {% case "KNOWN_CHANGES" %}
              <span class="govuk-!-font-size-14">{{ answers["finance_known_change_details"] }}</span>
            {% case "MAKE_CHANGES_HELP" %}
              <span class="govuk-!-font-size-14">{{ answers["finance_help_change_details"] }}</span>
            {% case "THINKING_CHANGES" %}
              <span class="govuk-!-font-size-14">{{ answers["finance_thinking_change_details"] }}</span>
            {% case "NO_CHANGES" %}
              <span class="govuk-!-font-size-14">{{ answers["finance_no_change_details"] }}</span>
            {% default %}
          {%- endswitch -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderFinanceIncome(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["finance_income"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span>{{ option.text }}</span>
          {%- switch option.value -%}
            {% case "FAMILY_OR_FRIENDS" %}
              <span class="govuk-!-font-size-14">{{ answers["family_or_friends_details"] }}</span>
            {% case "OTHER" %}
              <span class="govuk-!-font-size-14">{{ answers["other_income_details"] }}</span>
          {%- endswitch -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}


{%- macro renderFinanceGambling(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["finance_gambling"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span>{{ option.text }}</span>
          {%- switch option.value -%}
            {% case "YES_THEIR_GAMBLING" %}
              <span class="govuk-!-font-size-14">{{ answers["yes_their_gambling_details"] }}</span>
            {% case "YES_SOMEONE_ELSES_GAMBLING" %}
              <span class="govuk-!-font-size-14">{{ answers["yes_someone_elses_gambling_details"] }}</span>
            {% case "NO" %}
              <span class="govuk-!-font-size-14">{{ answers["no_gambling_details"] }}</span>
            {% case "UNKNOWN" %}
              <span class="govuk-!-font-size-14">{{ answers["unknown_gambling_details"] }}</span>
            {% default %}
          {%- endswitch -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderFinanceBankAccount(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["finance_bank_account"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span>{{ option.text }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderFinanceDebt(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["finance_debt"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span>{{ option.text }}</span>
          {% if option.value == "YES_THEIR_DEBT" %}
            <ul class="govuk-list">
              {% for subOption in fields["yes_type_of_debt"].options %}
                {% if subOption.checked %}
                  <li class="summary-details-list">
                    <span class="govuk-!-font-size-14">{{ subOption.text }}</span>
                    {%- switch subOption.value -%}
                    {% case "FORMAL_DEBT" %}
                      <span class="govuk-!-font-size-14">{{ answers["yes_formal_debt_details"] }}</span>
                    {% case "DEBT_TO_OTHERS" %}
                      <span class="govuk-!-font-size-14">{{ answers["yes_debt_to_others_details"] }}</span>
                    {% case "FORMAL_AND_DEBT_TO_OTHERS" %}
                      <span class="govuk-!-font-size-14">{{ answers["yes_formal_debt_to_others_details"] }}</span>
                    {%- endswitch -%}
                  </li>
                {% endif %}
              {% endfor %}
            </ui>
          {% elif option.value == "YES_SOMEONE_ELSES_DEBT" %}
            <ul class="govuk-list">
              {% for subOption in fields["yes_someone_elses_type_of_debt"].options %}
                {% if subOption.checked %}
                   <li class="summary-details-list">
                    <span class="govuk-!-font-size-14">{{ subOption.text }}</span>
                    {%- switch subOption.value -%}
                    {% case "FORMAL_DEBT" %}
                    <span class="govuk-!-font-size-14">{{ answers["yes_someone_elses_formal_debt_details"] }}</span>
                    {% case "DEBT_TO_OTHERS" %}
                    <span class="govuk-!-font-size-14">{{ answers["yes_someone_elses_debt_to_others_details"] }}</span>
                    {% case "FORMAL_AND_DEBT_TO_OTHERS" %}
                    <span class="govuk-!-font-size-14">{{ answers["yes_someone_elses_formal_debt_to_others_details"] }}</span>
                    {%- endswitch -%}
                    </li>
                {% endif %}
              {% endfor %}
            </ui>
          {% elif option.value == "UNKNOWN" %}
            <ul class="govuk-list">
            <span class="govuk-!-font-size-14">{{ answers["unknown_debt_details"] }}</span>
            </ul>
          {% endif %}
        </li> 
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- switch field -%}
{% case "finance_money_management" %}
  {{ renderSummaryListRow(
    options.fields[field].text,
    renderMoneyManagement(options.fields, options.answers),
    options.backLink + "#" + field
  ) }}
  {% case "changes_to_finance" %}
  {{ renderSummaryListRow(
    options.fields[field].text,
    renderFinanceChange(options.fields, options.answers),
    options.backLink + "#" + field
  ) }}
  {% case "finance_gambling" %}
  {{ renderSummaryListRow(
    options.fields[field].text,
    renderFinanceGambling(options.fields, options.answers),
    options.backLink + "#" + field
  ) }}
  {% case "finance_debt" %}
  {{ renderSummaryListRow(
    options.fields[field].text,
    renderFinanceDebt(options.fields, options.answers),
    options.backLink + "#" + field
  ) }}
  {% case "finance_income" %}
  {{ renderSummaryListRow(
    options.fields[field].text,
    renderFinanceIncome(options.fields, options.answers),
    options.backLink + "#" + field
  ) }}
  {% case "finance_bank_account" %}
  {{ renderSummaryListRow(
    options.fields[field].text,
    renderFinanceBankAccount(options.fields, options.answers),
    options.backLink + "#" + field
  ) }}
{%- endswitch -%}
