<article class="analysis-summary__item">
  <div class="analysis-summary__row">
    <div class="analysis-summary__heading">
      <h2 class="govuk-heading-s full-width">{{ field.text }}</h2>
    </div>
    <div class="analysis-summary__action">
      <a class="govuk-link" href="{{ changeLink }}">
        Change<span class="govuk-visually-hidden">value for {{ label }}</span>
      </a>
    </div>
  </div>
  <div class="analysis-summary__row">
    <div class="analysis-summary__value">
      <ul class="govuk-list">
        {% for option in field.options %}
          {% if option.checked %}
            <li class="summary-details-list">
              <span>{{ option.text }}</span>
              <p class="govuk-!-font-size-14">{{ fieldDetails.value }}</p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</article>
