{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/question/macro.njk" import renderQuestion %}
{% from "components/summary/macro.njk" import renderSummaryFields %}

{% set summaryFields = getSummaryFields({section: options.section, allFields: options.allFields, steps: options.steps, answers: answers}) %}
{% set sectionStarted = summaryFields.singleFields.length > 0 or summaryFields.collectionFields.length > 0 %}
{% set sectionComplete = sectionProgress[options.section] %}

{% macro renderAnalysisSummaryRow(field, yesDetailsField, noDetailsField, link) %}
  <article class="analysis-summary__item">
    <div class="govuk-grid-column-one-third analysis-summary__row">
      <div class="analysis-summary__heading">
        <h2 class="govuk-heading-m full-width">{{ field.text }}</h2>
      </div>
    </div>
    <div class="govuk-grid-column-one-third analysis-summary__row">
      <div class="analysis-summary__value">
        <ul class="govuk-list">
          {% for option in field.options %}
            {% if option.checked %}
              {% if option.value === "YES" %}
                {% set detailsAnswer = yesDetailsField.value %}
              {% else %}
                {% set detailsAnswer = noDetailsField.value %}
              {% endif %}
              <li class="summary-details-list">
                <span class="analysis__answer">{{ option.text }}</span>
                <p class="analysis__answer--secondary">{{ detailsAnswer | nl2br | safe }}</p>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% if sessionData.user | isInEditMode %}
      <div class="govuk-grid-column-one-third analysis-summary__action">
        <a class="govuk-link" href="{{ link }}">Change<span class="govuk-visually-hidden"> value for {{ label }}</span></a>
      </div>
    {% endif %}
  </article>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
{% endmacro %}

{% block backLink %}{% endblock %}

{% set section = options.section | replace("-", "_") %}
{% set fields = options.allFields %}
{% set changeLink = options.section + '-analysis?action=resume' %}

{% block formContent %}
<h1>Analysis complete page</h1>

  <h2>@@{{ isReadyToBeMarkedAsComplete }}@@</h2>

{% if sectionComplete %}
<div class="govuk-grid-column-full summary__panel" id="practitioner-analysis">
  <section>
    {% if section == 'drug_use' and answers.drug_use == 'YES' %}
      {{ renderAnalysisSummaryRow(
        fields["drugs_practitioner_analysis_motivated_to_stop"],
        fields[""],
        fields[""],
        changeLink
      ) }}
    {% endif %}
    {{ renderAnalysisSummaryRow(
      fields[section + "_practitioner_analysis_strengths_or_protective_factors"],
      fields[section + "_practitioner_analysis_strengths_or_protective_factors_yes_details"],
      fields[section + "_practitioner_analysis_strengths_or_protective_factors_no_details"],
      changeLink
    ) }}
    {{ renderAnalysisSummaryRow(
      fields[section + "_practitioner_analysis_risk_of_serious_harm"],
      fields[section + "_practitioner_analysis_risk_of_serious_harm_yes_details"],
      fields[section + "_practitioner_analysis_risk_of_serious_harm_no_details"],
      changeLink
    ) }}
    {{ renderAnalysisSummaryRow(
      fields[section + "_practitioner_analysis_risk_of_reoffending"],
      fields[section + "_practitioner_analysis_risk_of_reoffending_yes_details"],
      fields[section + "_practitioner_analysis_risk_of_reoffending_no_details"],
      changeLink
    ) }}
  </section>
{% endif %}


</div>
{% endblock %}
