{% extends "../summary.njk" %}
{% from "components/question/macro.njk" import renderQuestion %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backLink %}{% endblock %}

{% block analysisPanel %}
  <h1>summary-analysis-incomplete.njk</h1>
  !!<pre>{{ answers | dump(2) }}</pre>!!
  <form id="summaryAnalysis" method="post" action="{{ action }}#practitioner-analysis" data-autosave="true">
    <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">
    {% for field in getRenderedFields(form.fields, options) %}
      {% if not (field == 'drugs_practitioner_analysis_motivated_to_stop' and answers.drug_use == 'NO') %}
        {{ renderQuestion(options.fields[field], errors) }}
      {% endif %}
    {% endfor %}

    <div class="questiongroup-action-buttons">
      {{ govukButton({
        text: buttonText | default("Mark as complete"),
        classes: "govuk-!-margin-bottom-3 govuk-!-margin-right-1",
        name: getUserSubmittedField(form.fields),
        value: 'YES'
      }) }}
    </div>
  </form>
{% endblock %}
