{% extends "../summary.njk" %}

{% macro renderAnalysisSummaryRow(label, field, yesDetailsField, noDetailsField, link) %}
  <article class="analysis-summary__item">
    <div class="govuk-grid-column-one-third analysis-summary__row">
      <div class="analysis-summary__heading">
        <h2 class="govuk-heading-m full-width">{{ label }}</h2>
      </div>
    </div>
    <div class="govuk-grid-column-one-third analysis-summary__row">
      <div class="analysis-summary__value">
        <ul class="govuk-list">
          {% for option in field.options %}
            {% if option.checked %}
              {% if option.value === "YES" %}
                {% set detailsAnswer = yesDetailsField.value %}
              {% else %}
                {% set detailsAnswer = noDetailsField.value %}
              {% endif %}
              <li class="summary-details-list">
                <span class="analysis__answer">{{ option.text }}</span>
                <p class="analysis__answer--secondary">{{ detailsAnswer | nl2br | safe }}</p>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% if sessionData.user | isInEditMode %}
      <div class="govuk-grid-column-one-third analysis-summary__action">
        <a class="govuk-link" href="{{ link }}">Change<span class="govuk-visually-hidden"> value for {{ label }}</span></a>
      </div>
    {% endif %}
  </article>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
{% endmacro %}


{% block backLink %}{% endblock %}

{% block analysisPanel %}
  {% set section = options.section | replace("-", "_") %}
  {% set fields = options.allFields %}
  {% set changeLink = options.section + '-summary#practitioner-analysis' %}
  {% set pageTitle = options.pageTitle | lower %}
  {% set subjectPrefix = options.pageTitle.endswith %}
  {% if options.pageTitle[-1] == 's' %}
    {% set prefix = 'Is' %}
  {% else %}
    {% set prefix = 'Are' %}
  {% endif %}

  <section>
    {% if section == 'drug_use' and answers.drug_use == 'YES' %}
      {{ renderAnalysisSummaryRow(
        "Does " + subjectDetails.givenName + " seem motivated to stop or reduce their drug use?",
        fields["drugs_practitioner_analysis_motivated_to_stop"],
        fields[""],
        fields[""],
        changeLink
      ) }}
    {% endif %}
    {{ renderAnalysisSummaryRow(
      "Are there any strengths or protective factors related to " + subjectDetails.givenName + "'s " + pageTitle +"?",
      fields[section + "_practitioner_analysis_strengths_or_protective_factors"],
      fields[section + "_practitioner_analysis_strengths_or_protective_factors_yes_details"],
      fields[section + "_practitioner_analysis_strengths_or_protective_factors_no_details"],
      changeLink
    ) }}
    {{ renderAnalysisSummaryRow(
      prefix + " " + subjectDetails.givenName +"'s " + pageTitle +" linked to risk of serious harm?",
      fields[section + "_practitioner_analysis_risk_of_serious_harm"],
      fields[section + "_practitioner_analysis_risk_of_serious_harm_yes_details"],
      fields[section + "_practitioner_analysis_risk_of_serious_harm_no_details"],
      changeLink
    ) }}
    {{ renderAnalysisSummaryRow(
      prefix + " " + subjectDetails.givenName +"'s " + pageTitle +" linked to risk of reoffending?",
      fields[section + "_practitioner_analysis_risk_of_reoffending"],
      fields[section + "_practitioner_analysis_risk_of_reoffending_yes_details"],
      fields[section + "_practitioner_analysis_risk_of_reoffending_no_details"],
      changeLink
    ) }}
  </section>
{% endblock %}
