{% extends "./layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/question/macro.njk" import renderQuestion %}

{% block formContent %}
  <form method="post" action="{{ action }}">
    <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">
    {% for field in form.fields %}
      {% set fieldPrototype = options.fields[field] %}

      {% if form.fields.length == 1 %}
      {% set labelClasses = "govuk-label--l" %}
      {% else %}
      {% set labelClasses = fieldPrototype.labelClasses %}
      {% endif %}

      {% set fieldOptions = {
        text: fieldPrototype.text,
        code: fieldPrototype.code,
        hint: fieldPrototype.hint,
        type: fieldPrototype.type,
        options: fieldPrototype.options,
        value: fieldPrototype.value,
        labelClasses: labelClasses,
        characterCountMax: fieldPrototype.characterCountMax,
        classes: fieldPrototype.classes
      } %}

      {{ renderQuestion(fieldOptions, errors, collections, action) }}
    {% endfor %}

    <div class="questiongroup-action-buttons">
      {{ govukButton({
        text: buttonText | default('Save and continue'),
        classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
      }) }}

      {% set saveDraftAction = action + "?action=saveDraft" %}
      {{ govukButton({
        text: "Save as draft",
        classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1 govuk-button--secondary',
        attributes: {
          "formaction": saveDraftAction
        }
      }) }}
    </div>
  </form>
{% endblock %}
