{% extends "./layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/question/macro.njk" import renderQuestion %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block backLink %}
  {%- if stepsTaken -%}
    {{ govukBreadcrumbs({ items: stepsTaken }) }}
  {%- endif -%}
{% endblock %}

{% block formContent %}
  <div class="govuk-!-width-three-quarters">
    <form id="form" method="post" action="{{ action }}" data-autosave="{{ "true" if options.autosave !== false else "false" }}">
      <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">
      {% set fieldsOnThisPage = getRenderedFields(form.fields, options) %}
      {% for fieldCode in fieldsOnThisPage %}
        {% set field = options.fields[fieldCode] %}

        {% if field.type === "COLLECTION" %}
          {% from "components/summary/macro.njk" import renderSummaryFields %}

          {% if fieldsOnThisPage.length == 1 %}
            {% set labelClasses = "govuk-fieldset__legend--l" %}
          {% else %}
            {% set labelClasses = "govuk-fieldset__legend--m" %}
          {% endif %}

          <div class="form-group govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend {{ labelClasses }}">
                {{ field.text }}
              </legend>
              {% set summaryFields = getSummaryFields({section: options.section, allFields: options.allFields, steps: options.steps, answers: answers, collectionOnly: true}) %}
              {{ renderSummaryFields(summaryFields, sessionData, errors) }}
            </fieldset>
          </div>

        {% else %}
          {% if fieldsOnThisPage.length == 1 %}
            {% if field.type === "RADIO" or field.type === "CHECKBOX" %}
              {% set field = field | setProp("labelClasses", "govuk-fieldset__legend--l") %}
            {% else %}
              {% set field = field | setProp("labelClasses", "govuk-label--l") %}
            {% endif %}
          {% endif %}

          {{ renderQuestion(field, errors, action) }}
        {% endif %}

      {% endfor %}

      {% if sessionData.user | isInEditMode %}
        <div class="questiongroup-action-buttons">
          {{ govukButton({
            text: buttonText | default('Save and continue'),
            classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1',
            name: getUserSubmittedField(form.fields),
            value: 'YES'
          }) }}

          {% for secondaryAction in options.secondaryActions %}
            {{ govukButton({
            text: secondaryAction.text,
            href: secondaryAction.url,
            classes: "govuk-button--secondary"
          }) }}
          {% endfor %}
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %}
