{% extends "./layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/question/macro.njk" import renderQuestion %}

{% block formContent %}
  <div class="govuk-!-width-three-quarters">
    <form id="form" method="post" action="{{ action }}">
      <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">
      {% set fieldsOnThisPage = getRenderedFields(form.fields, options) %}
      {% for fieldCode in fieldsOnThisPage %}
        {% set field = options.fields[fieldCode] %}

        {% if field.type === "COLLECTION" %}
          {% from "components/summary/macro.njk" import renderSummaryFields %}

          {% if fieldsOnThisPage.length == 1 %}
            {% set labelClasses = "govuk-fieldset__legend--l" %}
          {% else %}
            {% set labelClasses = "govuk-fieldset__legend--m" %}
          {% endif %}

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend {{ labelClasses }}">
              {{ field.text }}
            </legend>
            {% set summaryFields = getSummaryFields(options, answers, true) %}
            {{ renderSummaryFields(summaryFields, sessionData) }}
          </fieldset>
        {% else %}
          {% if fieldsOnThisPage.length == 1 %}
            {% if field.type === "RADIO" or field.type === "CHECKBOX" %}
              {% set labelClasses = "govuk-fieldset__legend--l" %}
            {% else %}
              {% set labelClasses = "govuk-label--l" %}
            {% endif %}
          {% else %}
            {% set labelClasses = field.labelClasses %}
          {% endif %}

          {% set fieldOptions = {
            text: field.text,
            code: field.code,
            id: field.id,
            hint: field.hint,
            type: field.type,
            options: field.options,
            value: field.value,
            labelClasses: labelClasses,
            characterCountMax: field.characterCountMax,
            classes: field.classes
          } %}

          {{ renderQuestion(fieldOptions, errors, action) }}
        {% endif %}

      {% endfor %}

      {% if sessionData.user | isInEditMode %}
        <div class="questiongroup-action-buttons">
          {{ govukButton({
            text: buttonText | default('Save and continue'),
            classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1',
            name: getUserSubmittedField(form.fields),
            value: 'YES'
          }) }}

          {% for secondaryAction in options.secondaryActions %}
            {{ govukButton({
            text: secondaryAction.text,
            href: secondaryAction.url,
            classes: "govuk-button--secondary"
          }) }}
          {% endfor %}
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/js/app.js"></script>
{% endblock %}