{%- extends "../partials/layout.njk" -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% from "../partials/heading.njk" import renderSectionHeading with context %}


{% set mainClasses = "app-container govuk-body" %}

{% block pageTitle %}
  {% if options.pageHeading %}
    {{ options.pageHeading }} - {{ pageTitle | default(applicationName) }}
  {% else %}
    {{ options.pageTitle }} - {{ pageTitle | default(applicationName) }}
  {% endif %}
{% endblock %}

{% block header %}
  {% if deploymentName %}
    <div class="custom-deployment-banner">
      <span class="govuk-body">
        <u>
          <strong>Notice</strong>
        </u>: You are viewing deployment <strong>{{ deploymentName }}</strong>.
      </span>
    </div>
  {% endif %}
  {% include "../partials/header.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    {% include "../partials/feedback.njk" %}
    {% include "../partials/offenderDetails.njk" %}
    {% block notification %}{% endblock %}
    <div class="govuk-grid-row">
     {% if not isPrivacyScreen %}
      <div class="govuk-grid-column-one-quarter">
        <nav class="moj-side-navigation side-navigation" aria-label="Side navigation">
          <ul class="moj-side-navigation__list">
            {% for link in form.navigation %}
              <li class="moj-side-navigation__item{% if link.active %} moj-side-navigation__item--active{% endif %}">
                <a href="{{ link.url }}"{% if link.active %} aria-current="location"{% endif %}>
                  <span class="section-label">{{ link.label }}</span>
                  {% if sectionProgress[link.section] %}
                    <span class="section-complete">✓
                    <span class="govuk-visually-hidden">Section complete</span>
                    </span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
     {% endif %}
      <div class="govuk-grid-column-three-quarters">
        {% block backLink %}{% endblock %}
        {%- if errors | length -%}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: toErrorSummary(errors)
            }) }}
        {%- endif -%}
        <div class="section-heading">
          <div class="section-heading__heading">
            {% if options.pageSubHeading %}
              <p class="page-sub-heading">{{ options.pageSubHeading }}</p>
            {% endif %}

            {% set defaultPageTitleClass = "govuk-body-l govuk-!-margin-0" if (getRenderedFields(form.fields, options)).length == 1 else "govuk-heading-l" %}
                  <h2 class="{{ pageTitleClass | default(defaultPageTitleClass) }}">{{ options.pageTitle }}</h2>
          </div>
          {% if not isPrivacyScreen %}
            {% if sectionProgress[options.section] %}
              <div class="section-heading__status">
                {{ govukTag({ text: "Complete" }) }}
              </div>
            {% else %}
              <div class="section-heading__status">
                {{ govukTag({ text: "Incomplete", classes: "govuk-tag--grey" }) }}
              </div>
            {% endif %}
          {% endif %}
        </div>
        {% block formContent %}{% endblock %}
      </div>
    </div>
{% endblock %}

{% block footer %}
  {% include "../partials/footer.njk" %}
{% endblock %}
  </div>
