{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set mainClasses = "app-container govuk-body" %}

{% block header %}
    {% include "../partials/header.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    {# <a href="#" class="govuk-back-link">Back</a> #}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full offender-details">
          <h3 class="govuk-heading-s">{{ subjectDetails.givenName }} {{ subjectDetails.familyName }}</h3>
          <dl>
            <dt>CRN:</dt><dd>{{ subjectDetails.crn }}</dd>
            <dt>PNC:</dt><dd>{{ subjectDetails.pnc }}</dd>
            <dt>Date of birth:</dt><dd>{{ subjectDetails.dateOfBirth }}</dd>
          </dl>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class= "return-to-assessment">
            {{ govukButton({
                  text: "Return to assessment",
                  classes: "govuk-button--secondary"
            }) }}
          </div>
          <h1 class="govuk-heading-l">{{ options.journeyPageTitle }}</h1>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <ul class="govuk-list navigation">
            {% for link in form.navigation %}
              <li><a href="{{ link.url }}" class="govuk-link">{{ link.label }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="govuk-grid-column-three-quarters">
          {% if backLink %}
            {{ govukBackLink({
              text: "Back",
              href: backLink
            }) }}
          {% endif %}
          <h2 class="govuk-heading-l">{{ options.pageTitle }}</h2>
          {%- if errors | length -%}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: toErrorSummary(errors)
          }) }}
          {%- endif -%}
          {% block formContent %}
          {% endblock %}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
