{%- extends "../partials/layout.njk" -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set mainClasses = "app-container govuk-body" %}

{% block pageTitle %}
  {{ options.pageHeading }} - {{ pageTitle | default(applicationName) }}
{% endblock %}

{% block header %}
  {% if deploymentName %}
    <div class="custom-deployment-banner">
      <span class="govuk-body">
        <u>
          <strong>Notice</strong>
        </u>: You are viewing deployment <strong>{{ deploymentName }}</strong>.
      </span>
    </div>
  {% endif %}
  {% include "../partials/header.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    {% include "../partials/feedback.njk" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full offender-details">
        <span class="offender-details__top">
          <dl>
            {% if subjectDetails.crn %}
              <dt>CRN:</dt>
              <dd>{{ subjectDetails.crn }}</dd>
            {% endif %}
            {% if subjectDetails.pnc %}
              <dt>PNC:</dt>
              <dd>{{ subjectDetails.pnc }}</dd>
            {% endif %}
            {% if subjectDetails.dateOfBirth %}
              <dt>Date of birth:</dt>
              <dd>{{ subjectDetails.dateOfBirth | formatDateForDisplay }}</dd>
            {% endif %}
          </dl>
          <a href="print-preview" class="govuk-link print-link">Print</a>
        </span>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half offender-details">
        <span class="offender-details__bottom">
          <h3 class="govuk-heading-m">{{ subjectDetails.givenName }}
            {{ subjectDetails.familyName }}</h3>
        </span>
      </div>
        <div id="assessment-info" class="govuk-visually-hidden" data-assessment-id="{{ sessionData.assessmentId }}"></div>
      <div class="govuk-grid-column-one-half">
        <div class="form-header">
          <div class="form-header__actions">
            {{ govukButton({
              id: "return-to-oasys",
              text: "Return to OASys",
              classes: "" if assessmentIsComplete else "govuk-button--secondary",
              href: user.returnUrl | default("?defaultReturnUrlGoesHere"),
              attributes: {
                "data-ai-id": "return-to-oasys"
              }
            }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible form-header_hr govuk-grid-column-full">
      </div>
    </div>
    {% block notification %}{% endblock %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <nav class="moj-side-navigation side-navigation" aria-label="Side navigation">
          <ul class="moj-side-navigation__list">
            {% for link in form.navigation %}
              <li class="moj-side-navigation__item{% if link.active %} moj-side-navigation__item--active{% endif %}">
                <a href="{{ link.url }}"{% if link.active %} aria-current="location"{% endif %}>
                  <span class="section-label">{{ link.label }}</span>
                  {% if sectionProgress[link.section] %}
                    <span class="section-complete">
                      ✓
{#                    <span class="govuk-visually-hidden">{{ link.section }}Section complete</span>#}
                    </span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">
        {% block backLink %}{% endblock %}
        {%- if errors | length -%}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: toErrorSummary(errors)
            }) }}
        {%- endif -%}
        <div class="section-heading">
          <div class="section-heading__heading">
            {% if options.pageSubHeading %}
              <p class="page-sub-heading">{{ options.pageSubHeading }}</p>
            {% endif %}

            {% set defaultPageTitleClass = "govuk-body-l govuk-!-margin-0" if (getRenderedFields(form.fields, options)).length == 1 else "govuk-heading-l" %}

            {% if 'summary' in options.url %}
              <span class="govuk-caption-l">{{ options.pageHeading }}</span>
              <h2 class="govuk-heading-l">Summary</h2>
            {% elseif 'analysis' in options.url %}
              <span class="govuk-caption-l">Practitioner analysis</span>
              <h2 class="govuk-heading-l">Summary</h2>
            {% else %}
                {% if options.pageHeading and options.pageCaption %}
                    <h2 class="govuk-heading-l">
                        <span class="govuk-caption-l">{{ options.pageCaption }}</span>
                        {{ options.pageHeading }}
                    </h2>
                {% elseif options.pageHeading %}
                    <span class="govuk-caption-l">{{ options.pageTitle }}</span>
                    <h2 class="govuk-heading-l">
                        {{ options.pageHeading }}
                    </h2>
                {% else %}
                  <h2 class="{{ pageTitleClass | default(defaultPageTitleClass) }}">{{ options.pageTitle }}</h2>
                  {% endif  %}
            {% endif %}

          </div>
          {% if sectionProgress[options.section] %}
            <div class="section-heading__status">
              {{ govukTag({ text: "Complete" }) }}
            </div>
          {% else %}
            <div class="section-heading__status">
              {{ govukTag({ text: "Incomplete", classes: "govuk-tag--grey" }) }}
            </div>
          {% endif %}
        </div>
        {% block formContent %}{% endblock %}
      </div>
    </div>
{% endblock %}

{% block footer %}
  {% include "../partials/footer.njk" %}
{% endblock %}
