{% extends "./layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/question/macro.njk" import renderQuestion %}

{% block formContent %}
  <form id="form" method="post" action="{{ action }}" data-autosave="true">
    <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">
    {% for field in getRenderedFields(form.fields, options) %}
      {{ renderQuestion(options.fields[field], errors) }}
    {% endfor %}

    <div class="questiongroup-action-buttons">
      {{ govukButton({
        text: buttonText | default("Save and continue"),
        classes: "govuk-!-margin-bottom-3 govuk-!-margin-right-1",
        name: getUserSubmittedField(form.fields),
        value: 'YES'
      }) }}
    </div>
  </form>
{% endblock %}
