{% extends "./layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/summary/macro.njk" import renderSummaryFields %}

{% set summaryFields = getSummaryFields(options, answers) %}
{% set sectionStarted = summaryFields.singleFields.length > 0 or summaryFields.collectionFields.length > 0 %}
{% set sectionComplete = sectionProgress[options.section] %}

{% block notification %}
  {% if not sessionData.user | isInEditMode and sectionStarted and not sectionComplete %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojBanner({ type: "information", text: "This section is incomplete" }) }}
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block formContent %}
{% if sectionStarted %}
  <form id="form" method="post">
    <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">
    {{ renderSummaryFields(summaryFields, sessionData) }}

    {% if sessionData.user | isInEditMode %}
      {% set nextStep = [nextStep, "?action=resume"] | join %}
    {% else %}
      {% set nextStep = getLastStepOfCurrentSection(options) %}
    {% endif %}

    <div class="questiongroup-action-buttons">
      {{ govukButton({
        text: buttonText | default("Continue to practitioner analysis"),
        classes: "govuk-!-margin-top-9 govuk-!-margin-bottom-3 govuk-!-margin-right-1",
        name: getUserSubmittedField(form.fields),
        href: nextStep
      }) }}
    </div>
  </form>
{% else %}
  <p class="govuk-body">This section is incomplete</p>
{% endif %}
{% endblock %}
