{% extends "./layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Content
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#summary">
          Summary
        </a>
      </li>
    {% if not hideAnalysis %}
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#practitioner-analysis">
          Practitioner analysis
        </a>
      </li>
     {% endif %}
    </ul>
    <div class="govuk-tabs__panel summary__panel" id="summary">
    {% include "../components/summary/summary-fields.njk" %}
    {% if not hideAnalysis %}
      <div class="questiongroup-action-buttons">
        {{ govukButton({
          text: "Go to practitioner analysis",
          classes: "govuk-button--secondary govuk-!-margin-bottom-3",
          href: "#practitioner-analysis"
        }) }}
      </div>
    {% endif %}
    </div>
    {% if not hideAnalysis %}
    <div class="govuk-tabs__panel summary__panel govuk-tabs__panel--hidden" id="practitioner-analysis">
      {% block analysisPanel %}{% endblock %}
    </div>  
    {% endif %}


  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/js/app.js"></script>
{% endblock %}
