{%- macro renderSelectedOptions(field) -%}
  <ul class="govuk-list">
    {% for option in field.options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSummaryListRow(label, value, changeLink) -%}
  <div class="govuk-summary-list__row as-block clearfix">
    <dt class="govuk-summary-list__key to-the-left">
      <span class="summary__label">{{ label }}</span>
    </dt>
    <dd class="govuk-summary-list__value to-the-left summary-value">
      {{ value }}
    </dd>
    <dd class="govuk-summary-list__actions to-the-right">
      <a class="govuk-link" href="{{ changeLink }}">
      Change<span class="govuk-visually-hidden">value for {{ label }}</span>
      </a>
    </dd>
  </div>
{%- endmacro -%}

{%- macro renderBingeDrinking(fields) -%}
  <ul class="govuk-list">
    {% for option in fields["alcohol_binge_drinking"].options %}
      {% if option.checked %}
        <li>
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value == "YES" %}
            <ul class="govuk-list">
              {% for subOption in fields["alcohol_binge_drinking_frequency"].options %}
                {% if subOption.checked %}
                  <li class="summary__answer--secondary">
                    {{ subOption.text }}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderPastAlcoholIssues(field, answers) -%}
  <ul class="govuk-list">
    {% for option in field.options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value == "YES" %}
            <span class="summary__answer--secondary"> {{ answers["alcohol_past_issues_details"] }} </span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderReasonsForUse(field, answers) -%}
  <ul class="govuk-list">
    {% for option in field.options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value == "OTHER" %}
            <span class="summary__answer--secondary"> {{ answers["alcohol_reasons_for_use_other_details"] }} </span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderImpactOfUse(field, answers) -%}
  <ul class="govuk-list">
    {% for option in field.options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value == "OTHER" %}
            <span class="summary__answer--secondary"> {{ answers["alcohol_impact_of_use_other_details"] }} </span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderStoppedOrReduced(field, answers) -%}
  <ul class="govuk-list">
    {% for option in field.options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value == "YES" %}
            <span class="summary__answer--secondary"> {{ answers["alcohol_stopped_or_reduced_details"] }} </span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderChanges(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["alcohol_changes"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {%- switch option.value -%}
            {% case "MADE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["alcohol_made_changes_details"] }}</span>
            {% case "MAKING_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["alcohol_making_changes_details"] }}</span>
            {% case "WANT_TO_MAKE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["alcohol_want_to_make_changes_details"] }}</span>
            {% case "NEEDS_HELP_TO_MAKE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["alcohol_needs_help_to_make_changes_details"] }}</span>
            {% case "THINKING_ABOUT_MAKING_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["alcohol_thinking_about_making_changes_details"] }}</span>
            {% case "DOES_NOT_WANT_TO_MAKE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["alcohol_does_not_want_to_make_changes_details"] }}</span>
            {% default %}
          {%- endswitch -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{% switch answers["alcohol_use"] %}
  {% case "YES_WITHIN_LAST_THREE_MONTHS" %}
    {% set backLink = "alcohol-usage-last-three-months" %}
  {% case "YES_NOT_IN_LAST_THREE_MONTHS" %}
    {% set backLink = "alcohol-usage-but-not-last-three-months" %}
  {% case "NO" %}
    {% set backLink = "alcohol-use" %}
  {% default %}
    {% set backLink = "" %}
{% endswitch %}

{% macro renderSummaryItemFor(field, options) %}
  {%- switch field -%}
    {% case "alcohol_use" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderSelectedOptions(options.fields["alcohol_use"]),
        options.backLink + "#" + field
      ) }}
    {% case "alcohol_frequency" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderSelectedOptions(options.fields["alcohol_frequency"]),
        options.backLink + "#" + field
      ) }}
    {% case "alcohol_units" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderSelectedOptions(options.fields["alcohol_units"]),
        options.backLink + "#" + field
      ) }}
    {% case "alcohol_binge_drinking" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderBingeDrinking(options.fields),
        options.backLink + "#" + field
      ) }}
    {% case "alcohol_evidence_of_excess_drinking" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderSelectedOptions(options.fields["alcohol_evidence_of_excess_drinking"]),
        options.backLink + "#" + field
      ) }}
    {% case "alcohol_past_issues" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderPastAlcoholIssues(options.fields["alcohol_past_issues"], options.answers),
        options.backLink + "#" + field
      ) }}
    {% case "alcohol_reasons_for_use" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderReasonsForUse(options.fields["alcohol_reasons_for_use"], options.answers),
        options.backLink + "#" + field
      ) }}
    {% case "alcohol_impact_of_use" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderImpactOfUse(options.fields["alcohol_impact_of_use"], options.answers),
        options.backLink + "#" + field
      ) }}
    {% case "alcohol_stopped_or_reduced" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderStoppedOrReduced(options.fields["alcohol_stopped_or_reduced"], options.answers),
        options.backLink + "#" + field
      ) }}
    {% case "alcohol_changes" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderChanges(options.fields, options.answers),
        options.backLink + "#" + field
      ) }}
  {%- endswitch -%}
{% endmacro %}

<dl class="govuk-summary-list">
  {{ renderSummaryItemFor("alcohol_use", { fields: fields, answers: answers, backLink: "alcohol-use" }) }}    
  {% if answers["alcohol_use"] !== "NO" %}
    {% if answers["alcohol_use"] === "YES_WITHIN_LAST_THREE_MONTHS" %}
      {{ renderSummaryItemFor("alcohol_frequency", { fields: fields, answers: answers, backLink: backLink }) }}
      {{ renderSummaryItemFor("alcohol_units", { fields: fields, answers: answers, backLink: backLink }) }}
      {{ renderSummaryItemFor("alcohol_binge_drinking", { fields: fields, answers: answers, backLink: backLink }) }}
      {{ renderSummaryItemFor("alcohol_evidence_of_excess_drinking", { fields: fields, answers: answers, backLink: backLink }) }}
    {% endif %}
    {{ renderSummaryItemFor("alcohol_past_issues", { fields: fields, answers: answers, backLink: backLink }) }}
    {{ renderSummaryItemFor("alcohol_reasons_for_use", { fields: fields, answers: answers, backLink: backLink }) }}
    {{ renderSummaryItemFor("alcohol_impact_of_use", { fields: fields, answers: answers, backLink: backLink }) }}
    {{ renderSummaryItemFor("alcohol_stopped_or_reduced", { fields: fields, answers: answers, backLink: backLink }) }}
    {{ renderSummaryItemFor("alcohol_changes", { fields: fields, answers: answers, backLink: backLink }) }}
  {% endif %}
</dl>
