$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

$govuk-breakpoints: (
  mobile: 750px,
  tablet: 760px,
  desktop: 769px
);

@import "govuk-frontend/dist/govuk/all";
@import "@ministryofjustice/frontend/moj/all";
@import "accessible-autocomplete/dist/accessible-autocomplete.min.css";

@import './components/header-bar';
@import './components/offender-details';
@import './components/drugs';
@import './components/form';
@import './components/modal';
@import './components/navigation';
@import './components/summary';
@import './components/type';
@import './components/practitioner-analysis-screen';
@import './components/print';
@import "./components/custom-deployment-banner";
@import "./components/button";
