$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/header-bar';
@import './components/offender-details';
@import './components/form';
@import './components/navigation';
@import './components/summary';
@import './components/oastub';
@import 'assets/scss/local';
@import './components/practitioner-analysis-screen';
