{% from "./rendering-macros.njk" import renderTopLevelField with context %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{%- macro renderDrugsSummary(drugUseField, summaryFields) -%}
  {{ renderTopLevelField(drugUseField) }}

  {% set drugsSummary = generateDrugsSummary(summaryFields.singleFields, isInEditMode) %}

  {% set hasUsedDrugs = false %}
  {% for answer in drugUseField.answers %}
    {% if answer.value == 'YES' %}
      {% set hasUsedDrugs = true %}
    {% endif %}
  {% endfor %}

  {% if drugsSummary.usedInTheLastSix | length %}
    <div class="drugs-summary__drug-cards">
      <dt class="govuk-heading-m drugs-summary__subheading">Used in the last 6 months</dt>
      <dd class="govuk-!-margin-left-0">
        {% for card in drugsSummary.usedInTheLastSix %}
          {{ govukSummaryList(card) }}
        {% endfor %}
      </dd>
    </div>
  {% endif %}

  {% if drugsSummary.notUsedInTheLastSix | length %}
    <div class="drugs-summary__drug-cards">
      <dt class="govuk-heading-m drugs-summary__subheading">Not used in the last 6 months</dt>
      <dd class="govuk-!-margin-left-0">
        {% for card in drugsSummary.notUsedInTheLastSix %}
          {{ govukSummaryList(card) }}
        {% endfor %}
      </dd>
    </div>
  {% endif %}

  {% if drugsSummary.otherFields | length %}
    <div class="drugs-summary__other-fields">
      <dt><!-- empty tag to allow the <dl> to be valid HTML --></dt>
      <dd class="govuk-!-margin-left-0">
        <dl class="govuk-summary-list summary-list">
          {% for otherField in drugsSummary.otherFields %}
            {{ renderTopLevelField(otherField) }}
          {% endfor %}
        </dl>
      </dd>
    </div>
  {% endif %}

  {% if hasUsedDrugs %}
    <div class="drugs-summary__more-information">
      <dt class="govuk-heading-m drugs-summary__subheading">More information</dt>
      <dd><!-- empty tag to allow the <dl> to be valid HTML --></dd>
    </div>
  {% endif %}

{%- endmacro -%}
