{% from "./rendering-macros.njk" import renderTopLevelField %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{%- macro renderDrugsSummary(drugUseField, sessionData, summaryFields) -%}
  {{ renderTopLevelField(drugUseField, sessionData) }}

  {% set drugsSummary = generateDrugsSummary(summaryFields.singleFields, sessionData.user) %}

  {% set hasUsedDrugs = false %}
  {% for answer in drugUseField.answers %}
    {% if answer.value == 'YES' %}
      {% set hasUsedDrugs = true %}
    {% endif %}
  {% endfor %}

  {% if drugsSummary.usedInTheLastSix | length %}
    <h3 class="govuk-heading-m drugs-summary__subheading">Used in the last 6 months</h3>
    {% for card in drugsSummary.usedInTheLastSix %}
      {{ govukSummaryList(card) }}
    {% endfor %}
  {% endif %}

  {% if drugsSummary.notUsedInTheLastSix | length %}
    <h3 class="govuk-heading-m drugs-summary__subheading">Not used in the last 6 months</h3>
    {% for card in drugsSummary.notUsedInTheLastSix %}
      {{ govukSummaryList(card) }}
    {% endfor %}
  {% endif %}

  {% if drugsSummary.otherFields | length %}
    <div class="drugs-summary__other-fields">
      <dl class="govuk-summary-list summary-list">
      {% for otherField in drugsSummary.otherFields %}
        {{ renderTopLevelField(otherField, sessionData) }}
      {% endfor %}
      </dl>
    </div>
  {% endif %}

  {% if hasUsedDrugs %}
    <h3 class="govuk-heading-m drugs-summary__subheading">More information</h3>
  {% endif %}

{%- endmacro -%}
