{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./drugs-summary.njk" import renderDrugsTable %}
{% from "../modal.njk" import renderModal %}

{%- macro renderCollection(summary, sessionData, errors) -%}
  {% set collectionErrors = errors[summary.field.code].messageGroup | default({}) %}
  {% for entry in summary.answers %}
    {% set entryErrorKey = ["entry-", loop.index0] | join %}
    {% set entryError = collectionErrors[entryErrorKey] %}

    <div class="collection-summary-list form-group govuk-form-group{% if entryError %} govuk-form-group--error{% endif %}">
      <div class="collection-summary-list__header">
        <h3
              {% if entryError %}id="{{ summary.field.code }}-entry-{{ loop.index0 }}-error"{% endif %}
              class="collection-summary-list__label">
          {{ loop.index | ordinalWordFromNumber | capitalize }}
          {{ summary.field.collection.subject }}
        </h3>
        {% if sessionData.user | isInEditMode %}
          <div class="collection-summary-list__actions">
            <div>
              <a class="govuk-link change-entry" href="{{ summary.field.collection.updateUrl }}/{{ loop.index - 1 }}">
                Change<span class="govuk-visually-hidden">value for {{ loop.index | ordinalWordFromNumber }}
                  {{ summary.field.collection.subject }}</span>
              </a>
            </div>
            <div>
              <div role="button" class="govuk-link" data-toggle="modal" data-target="delete-{{ loop.index }}">
                  Delete<span class="govuk-visually-hidden">value for {{ loop.index | ordinalWordFromNumber }}
                  {{ summary.field.collection.subject }}</span>
              </div>

              {% set modalId = ["delete-", loop.index] | join %}
              {% set formAction = [summary.field.collection.deleteUrl, "/", loop.index - 1] | join %}
              {{ renderModal(
                    modalId,
                    ["Are you sure you want to delete the ", summary.field.collection.subject, " details?"] | join,
                    "Delete",
                    formAction
                  ) }}
            </div>
          </div>
        {% endif %}
      </div>
      {% for nested in entry.nestedFields %}
        <dl class="govuk-summary-list summary-list">
          <div class="govuk-summary-list__row summary-list__row">
            <dt class="govuk-summary-list__key summary-list__key">
              <span class="summary__label">{{ nested.field.text }}</span>
              {{ renderCollectionValidationErrors(nested, entryError.messageGroup) }}
            </dt>
            <dd class="govuk-summary-list__value summary-list__value">
              <ul class="govuk-list">
                {% for answer in nested.answers %}
                  <li class="summary-details-list">
                    <span class="summary__answer">{{ answer | display | safe }}</span>
                    {{ renderNestedFields(answer.nestedFields) }}
                  </li>
                {% endfor %}
              </ul>
            </dd>
          </div>
        </dl>
      {% endfor %}
    </div>
  {% else %}
    <dl>
      <dt class="govuk-visually-hidden">{{ summary.field.text }}</dt>
      <dd class="govuk-!-margin-left-0">There are no {{ summary.field.collection.subject }}s.</dd>
    </dl>
  {% endfor %}
{%- endmacro -%}

{%- macro renderCollectionValidationErrors(summaryField, errors) -%}
  {% if errors[summaryField.field.code] %}
    <p class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span>
      {{ errors[summaryField.field.code].message }}
    </p>
  {% endif %}
  {% for answer in summaryField.answers %}
    {% for nestedField in answer.nestedFields %}
      {{ renderCollectionValidationErrors(nestedField, errors) }}
    {% endfor %}
  {% endfor %}
{%- endmacro -%}

{%- macro renderTopLevelField(summary, sessionData) -%}
  <div class="govuk-summary-list__row summary-list__row">
    <dt class="govuk-summary-list__key summary-list__key">
      <span class="summary__label">{{ summary.field.text }}</span>
    </dt>
    <dd class="govuk-summary-list__value summary-list__value">
      <ul class="govuk-list">

        {% for answer in summary.answers %}
          <li class="summary-details-list">
            <span class="summary__answer">{{ answer | display | safe }}</span>
            {{ renderNestedFields(answer.nestedFields) }}
          </li>
        {% endfor %}

      </ul>
    </dd>
    {% if sessionData.user | isInEditMode %}
      <dd class="govuk-summary-list__actions summary-list__actions">
        <a class="govuk-link" href="{{ summary.changeLink }}">
        Change<span class="govuk-visually-hidden">value for {{ summary.field.text }}</span>
        </a>
      </dd>
    {% endif %}
  </div>
{%- endmacro -%}

{%- macro renderNestedFields(summaryFields) -%}
  {% for summaryField in summaryFields %}

    {% if summaryField.field.type in ["RADIO", "CHECKBOX"] %}

      <ul class="govuk-list">
        {% for answer in summaryField.answers %}
          <li class="summary-details-list">
            <span class="summary__answer--secondary">{{ answer | display | safe }}</span>
            {{ renderNestedFields(answer.nestedFields, fieldError.messageGroup) }}
          </li>
        {% endfor %}
      </ul>

    {% else %}

      {% for answer in summaryField.answers %}
        <span class="summary__answer--secondary">{{ answer | display | safe }}</span>
        {{ renderNestedFields(answer.nestedFields) }}
        <hr class="govuk-section-break govuk-section-break--m">
      {% endfor %}

    {% endif %}

  {% endfor %}
{%- endmacro -%}

{% for summary in summaryFields.singleFields %}
  <dl class="govuk-summary-list summary-list">
    {% switch summary.field.code %}
      {% case 'drug_use_type' %}
        {{ renderDrugsTable(summary, sessionData.user) }}
      {% default %}
        {{ renderTopLevelField(summary, sessionData) }}
    {% endswitch %}
  </dl>
{% endfor %}

{% for collectionSummary in summaryFields.collectionFields %}
  {{ renderCollection(collectionSummary, sessionData, errors) }}
{% endfor %}
