form .drug:nth-last-child(2) > .govuk-section-break {
  display: none;
}

.injected-drugs-checkboxes {
  & > .govuk-checkboxes__item {
    margin-bottom: 0;

    & > label {
      margin-top: 2px;
      margin-bottom: 15px;
    }
  }
}
