.section-heading {
  @include govuk-clearfix;
}

.section-heading__heading {
  float: left;
}
.section-heading__status {
  float: right;
}

.form-group {
  margin-bottom: govuk-spacing(7);
}

.radio-group--analysis {
  margin-bottom: govuk-spacing(3);
}

.no-margin-bottom {
  margin-bottom: 0;
}

.page-sub-heading {
  @extend .govuk-body-l;
  margin-bottom: govuk-spacing(-1);
}

.form-header {
  @include govuk-clearfix;
}

.form-header__actions {
  float: right;
 
  @include govuk-media-query($until: desktop){
    width: 100%;
    float: none;
  }

  & button {
    @include govuk-media-query($until: desktop) {
      width: 100%;
    }
  }
}

.form-header__title {
  float: left;
}

.form-header_hr {
  margin-top: govuk-spacing(-4);
}
