.section-heading {
  @include govuk-clearfix;
}

.section-heading__heading {
  float: left;
}
.section-heading__status {
  float: right;
}

.form-group {
  margin-bottom: govuk-spacing(7);
}

.radio-group--analysis {
  margin-bottom: govuk-spacing(3);
}
