.side-navigation {
  padding: 0;
  @include govuk-font(19);
}

.section-label {
  width: 80%;
  display: inline-block;
  white-space: nowrap;
  @include govuk-media-query($from: tablet) {
    white-space: normal;
  }
}

.section-complete {
  font-size: 14px;
  border-radius: 50%;
  background-color: $govuk-brand-colour;
  color: govuk-colour('white');
  padding: 3px;
  width: 19px;
  height: 19px;
}

// The MoJ doesn't support nested side navigation, so we have to do this ourselves.

.side-navigation ul ul {
  padding-left: govuk-spacing(4);

  & li {
    list-style: none;
  }
}

.moj-side-navigation__item--active ul li:not(.moj-side-navigation__item--active) a:link,
.moj-side-navigation__item--active ul li:not(.moj-side-navigation__item--active) a:visited {
  background-color: transparent;
  border-left: none;
}

.tasklist li {
  padding-top: govuk-spacing(4);
}
