.offender-details {
  & span {
    width: 100%;
    padding: 0;
    margin-bottom: govuk-spacing(3);
    color: #505A5F;

    & {
      & dd, & dt {
        @include govuk-font(16);
        margin-left: 0;
      }

      & * dd {
        border-right: 1px solid gray;

        &:last-of-type {
          border: none;
        }
      }

      & *:first-child {
        padding-left: 0;
      }

      & *:last-child {
        padding-right: 0;
      }

      & dt {
        padding-right: govuk-spacing(1);
      }

      & dd {
        padding-left: govuk-spacing(0);
      }
    }
  }

  & * {
    display: inline;
    float: left;

    margin: 0;
    padding: 0 govuk-spacing(1);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & .govuk-link {
      text-align: right;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & .govuk-link {
      text-align: right;
    }
  }
}
