.give-details-text {
  display: block;
  width: 80%;
}

.analysis-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: govuk-spacing(3);

     &__row {
      @include govuk-clearfix;
    }
     &__label {
       @include govuk-font(19, 'bold');
    }

     &__action {
      float: right;
      text-align: right;
    }
    &__answer {
      @include govuk-font(19);
    }
}
#practitioner-analysis form {
  @extend .govuk-\!-width-three-quarters
}
