$very-large-font: 20px;
$large-font: 18px;
$medium-font: 14px;
$small-font: 12px;

.summary-details-list {
  & span {
    display: block;
  }
}

.drugs-summary {
  &__subheading {
    @include govuk-font(27, 'bold');
    margin-top: govuk-spacing(6);
  }

  &__other-fields {
    margin-top: govuk-spacing(-4)
  }
}

.summary-list {
  margin-bottom: 0;

  &__row {
    display: flex;
    justify-content: space-between;
    column-gap: govuk-spacing(1);
    margin-bottom: 0;

    @media print {
      page-break-inside: avoid;
      border-bottom: 1px solid govuk-colour('mid-grey');
    }
  }

  &__key {
    width: 30%;
    min-width: 30%;
    margin-bottom: 0;
    padding: govuk-spacing(3) 0;

    @media print {
      font-size: $small-font;
      background-color: govuk-colour('light-grey');
      padding: govuk-spacing(3) govuk-spacing(1);
    }
  }

  &__value {
    flex-grow: 1;
    margin-bottom: 0;
    padding: govuk-spacing(3) 0;
  }

  &__actions {
    flex-grow: 0;
    margin-bottom: 0;
    padding: govuk-spacing(3) 0;

    @media print {
      display: none;
    }
  }
}

.summary {
  &__panel {
    border: none !important;
    padding: govuk-spacing(6) 0px !important;
  }

  &__label {
    @include govuk-font(19, 'bold');
    margin-bottom: govuk-spacing(2);
    display: block;

    @media print {
      font-size: $small-font;
    }
  }

  &__answer {
    @include govuk-font(19);

    @media print {
      font-size: $small-font;
    }

    &--secondary {
      @include govuk-font(16);

      @media print {
        font-size: $small-font;
      }
    }
  }
}

.analysis__answer {
  @include govuk-font(24);
}

.analysis__answer--secondary {
  @include govuk-font(19);
}

.govuk-summary-list {
  .govuk-error-message {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

.collection-summary-list {
  margin-top: govuk-spacing(7);

  dl {
    @media print {
      margin-top: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: govuk-spacing(3);

    @media print {
      margin-bottom: 0;
    }
  }

  &__label {
    @extend .govuk-heading-m;

    @media print {
      font-size: $medium-font;
    }
  }

  &__actions {
    text-align: right;
    @media print {
      display: none;
    }
  }
}

.summary-section {
  margin-bottom: govuk-spacing(7);

  dl:first-of-type > div {
    border-top: 1px solid govuk-colour('mid-grey');
  }

  dl:last-of-type > div {
    border-bottom: 1px solid govuk-colour('mid-grey');
  }
}

.summary-section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__title {
    margin-bottom: govuk-spacing(4);
    margin-top: govuk-spacing(9);

    @media print {
      font-size: $very-large-font;
    }
  }

  &__status > .govuk-tag {
    @media print {
      font-size: $small-font;
      padding: 3px 8px;
    }
  }

  &__subtitle {
    @media print {
      font-size: $medium-font;
    }
  }
}

.summary-action-buttons {
  margin-top: govuk-spacing(7);
}
