.summary-details-list {
  & span {
    display: block;
  }
}

.drugs-summary-table {
  width: 100%;
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(3);
  border: 1px solid $govuk-border-colour;

  caption {
    margin-bottom: govuk-spacing(3);
  }

  @media print {
    border: none;
    margin-bottom: govuk-spacing(5) !important;
  }

  th,
  td {
    @include govuk-font-size('19');
    padding: govuk-spacing(3);

    &:last-child {
      text-align: right;
      padding-right: govuk-spacing(3);

      @media print {
        display: none;
      }
    }

  }

  thead th {
    font-weight: normal;

    @media print {
      font-size: 12px;
      font-weight: bold;
      background-color: govuk-colour('mid-grey');
      border: none;
      border-right: 1px solid white;
    }
  }

  tbody tr:first-child th {    
    @media print {
      font-size: 12px;
      font-weight: bold;
      background-color: govuk-colour('light-grey');
      border: none;
    }
  }

  tbody tr th {
    @media print {
      font-size: 12px;
      font-weight: normal;
      background-color: govuk-colour('light-grey');
      border: none;
      border-bottom: 1px solid govuk-colour('mid-grey');
    }
  }

  tbody tr td {
    @media print {
      border-bottom: 1px solid govuk-colour('mid-grey');
      font-size: 12px;
      font-weight: normal;
    }
  }

  tbody tr:last-child {
    th, td {
      padding-top: 0;
      @include govuk-font-size('16');
    }
  }
}

.clearfix {
  @include govuk-clearfix;
}

.border-bottom {
  border-bottom: 1px solid $govuk-border-colour;

  th,
  td {
    border-bottom: none;
  }
}

.as-block {
  display: block;
  width: 100%;
}

.to-the-left {
  float: left;
  text-align: left;
}

.to-the-right {
  float: right;
  text-align: right;
}

.with-text-right {
  text-align: right;
}

.summary-list {
  margin-bottom: 0;

  &__row {
    display: flex;
    justify-content: space-between;
    column-gap: govuk-spacing(1);
    margin-bottom: 0;

    @media print {
      page-break-inside: avoid;
      border-bottom: 1px solid govuk-colour('mid-grey');
    }

    &--drugs {
      flex-wrap: wrap;
    }
  }

  &__key {
    width: 30%;
    min-width: 30%;
    margin-bottom: 0;
    padding: govuk-spacing(3) 0;

    @media print {
      font-size: 12px;
      background-color: govuk-colour('light-grey');
      padding: govuk-spacing(3) govuk-spacing(1);
    }

    &--drugs {
      @media print {
        width: 100%;
        background-color: white;
        padding-bottom: 0;
        margin-top: 40px;
        padding-top: 0;

        & span {
          font-size: 14px;
        }
      }
    }
  }

  &__value {
    flex-grow: 1;
    margin-bottom: 0;
    padding: govuk-spacing(3) 0;

    &--drugs {
      width: 100%;

      @media print {
        padding-top: 0;
      }
    }
  }

  &__actions {
    flex-grow: 0;
    margin-bottom: 0;
    padding: govuk-spacing(3) 0;

    @media print {
      display: none;
    }
  }
}

.summary__panel {
  border: none !important;
  padding: govuk-spacing(6) 0px !important;
}

.summary__label {
  @include govuk-font(19, 'bold');

  @media print {
    font-size: 12px;
  }
}

.summary__answer {
  @include govuk-font(19);

  @media print {
    font-size: 12px;
  }
}

.summary__answer--secondary {
  @include govuk-font(16);

  @media print {
    font-size: 12px;
  }
}

.analysis__answer {
  @include govuk-font(24);
}

.analysis__answer--secondary {
  @include govuk-font(19);
}

.govuk-summary-list {
  .govuk-error-message {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

.collection-summary-list {
  margin-top: govuk-spacing(7);

  dl {
    @media print {
      margin-top: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__label {
    @extend .govuk-heading-m;

    @media print {
      font-size: 14px;
    }
  }

  &__actions {
    text-align: right;
    @media print {
      display: none;
    }
  }
}

.summary-section {
  margin-bottom: govuk-spacing(7);

  & dl:first-of-type > div {
    border-top: 1px solid govuk-colour('mid-grey');
  }

  & dl:last-of-type > div {
    border-bottom: 1px solid govuk-colour('mid-grey');
  }
}

.summary-section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__title {
    margin-bottom: govuk-spacing(4);
    margin-top: govuk-spacing(9);

    @media print {
      font-size: 18px;
    }
  }

  &__status > .govuk-tag {
    @media print {
      font-size: 12px;
      padding: 3px 8px;
    }
  }

  &__subtitle {
    @media print {
      font-size: 14px;
    }
  }
}

.summary-action-buttons {
  margin-top: govuk-spacing(7);
}
