.navigation {
    li {
        margin: 0;

        &:nth-child(-n + 8) {
            border-collapse: collapse;
            border-bottom: 1px solid $govuk-border-colour;
            padding: govuk-spacing(2);
        }
    
        &:hover {
            background-color:  #E8F3F7;
            & a {
                color: $govuk-text-colour !important;
            }
        }

        & a {
            text-decoration: none;
    
            &:visited {
                color: $govuk-link-colour;
            }
        }
    }
}

.btn-return-assessment {
    
    position: absolute;
    right: 500px;
}

.summary-analysis-navigation {
    a:hover {
        text-decoration: underline;
      }
     
}
