{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "components/question/macro.njk" import renderQuestion %}
{% from "components/summary/accommodation/macro.njk" import renderSummaryFor %}
{% from "components/analysis/macro.njk" import renderAnalysisSummary %}

{%- if answers["type_of_temporary_accommodation"] == "SHORT_TERM" or answers["type_of_temporary_accommodation"] == "IMMIGRATION" -%}
{% set changeLink = "temporary-accommodation-2" %}
{%- else -%}
{% set changeLink = "temporary-accommodation" %}
{%- endif -%}

{% set summaryHtml %}
<dl class="govuk-summary-list">
  {{ renderSummaryFor("current_accommodation", { fields: options.allFields, answers: answers, backLink: "accommodation" }) }}
  {%- if answers["current_accommodation"] == "SETTLED" or not (answers["type_of_temporary_accommodation"] == "SHORT_TERM" or answers["type_of_temporary_accommodation"] == "IMMIGRATION") -%}
  {{ renderSummaryFor("living_with", { fields: options.allFields, answers: answers, backLink: changeLink }) }}
  {%- endif -%}
  {{ renderSummaryFor("suitable_housing_location", { fields: options.allFields, answers: answers, backLink: changeLink }) }}
  {{ renderSummaryFor("suitable_housing", { fields: options.allFields, answers: answers, backLink: changeLink }) }}
  {{ renderSummaryFor("suitable_housing_planned", { fields: options.allFields, answers: answers, backLink: changeLink }) }}
  {{ renderSummaryFor("accommodation_changes", { fields: options.allFields, answers: answers, backLink: changeLink }) }}
</dl>

<div class="questiongroup-action-buttons">
  {{ govukButton({
    text: "Go to practitioner analysis",
    classes: "govuk-!-margin-bottom-3",
    href: "#practitioner-analysis"
  }) }}
</div>
{% endset -%}

{% set analysisHtml %}
<section>
  {{ renderAnalysisSummary(
    options.allFields["practitioner_analysis_patterns_of_behaviour"],
    options.allFields["practitioner_analysis_patterns_of_behaviour_details"],
    "accommodation-summary-analysis-settled#practitioner-analysis"
  ) }}
  {{ renderAnalysisSummary(
    options.allFields["practitioner_analysis_strengths_or_protective_factors"],
    options.allFields["practitioner_analysis_strengths_or_protective_factors_details"],
    "accommodation-summary-analysis-settled#practitioner-analysis"
  ) }}
  {{ renderAnalysisSummary(
    options.allFields["practitioner_analysis_risk_of_serious_harm"],
    options.allFields["practitioner_analysis_risk_of_serious_harm_details"],
    "accommodation-summary-analysis-settled#practitioner-analysis"
  ) }}
  {{ renderAnalysisSummary(
    options.allFields["practitioner_analysis_risk_of_reoffending"],
    options.allFields["practitioner_analysis_risk_of_reoffending_details"],
    "accommodation-summary-analysis-settled#practitioner-analysis"
  ) }}
  {{ renderAnalysisSummary(
    options.allFields["practitioner_analysis_related_to_risk"],
    options.allFields["practitioner_analysis_related_to_risk_details"],
    "accommodation-summary-analysis-settled#practitioner-analysis"
  ) }}
</section>
{% endset -%}

{% block formContent %}
{{ govukTabs({
  items: [
    {
      label: "Summary",
      id: "accommodation-summary",
      panel: {
        html: summaryHtml
      }
    },
    {
      label: "Practitioner analysis",
      id: "practitioner-analysis",
      panel: {
        html: analysisHtml
      }
    }
  ]
}) }}
{% endblock %}
