{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/question/macro.njk" import renderQuestion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{%- macro renderSelectedOptions(field) -%}
  <ul class="govuk-list">
    {% for option in field.options %}
      {% if option.checked %}
        <li>
          {{ option.text }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderAccommodationChangeDetails(answers) -%}
{%- switch answers["accommodation_changes"] -%}
  {% case "MADE_CHANGES" %}
    {{ answers["accommodation_made_changes_details"] }}
  {% case "MAKING_CHANGES" %}
    {{ answers["accommodation_making_changes_details"] }}
  {% case "WANT_TO_MAKE_CHANGES" %}
    {{ answers["accommodation_want_to_make_changes_details"] }}
  {% case "NEEDS_HELP_TO_MAKE_CHANGES" %}
    {{ answers["accommodation_needs_help_to_make_changes_details"] }}
  {% case "THINKING_ABOUT_MAKING_CHANGES" %}
    {{ answers["accommodation_thinking_about_making_changes_details"] }}
  {% case "DOES_NOT_WANT_TO_MAKE_CHANGES" %}
    {{ answers["accommodation_does_not_want_to_make_changes_details"] }}
  {% default %}
{%- endswitch -%}
{%- endmacro -%}

{%- macro renderSummaryListRow(label, value, changeLink) -%}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      {{ label }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ value }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ changeLink }}">
      Change<span class="govuk-visually-hidden">value for {{ label }}</span>
      </a>
    </dd>
  </div>
{%- endmacro -%}

{% set accommodationSummaryHtml %}
<dl class="govuk-summary-list">
  {{ renderSummaryListRow(
    options.allFields["current_accommodation"].text,
    renderSelectedOptions(options.allFields["current_accommodation"]),
    "accommodation#current-accommodation"
  ) }}
  {%- if answers["current_accommodation"] == "SETTLED" or not (answers["type_of_temporary_accommodation"] == "SHORT_TERM" or answers["type_of_temporary_accommodation"] == "IMMIGRATION") -%}
  {{ renderSummaryListRow(
    options.allFields["living_with"].text,
    renderSelectedOptions(options.allFields["living_with"]),
    backLink + "#living_with"
  ) }}
  {%- endif -%}
  {{ renderSummaryListRow(
    options.allFields["suitable_housing_location"].text,
    renderSelectedOptions(options.allFields["suitable_housing_location"]),
    backLink + "#suitable_housing_location"
  ) }}
  {%- if answers["suitable_housing_location"] == "NO" -%}
  {{ renderSummaryListRow(
    options.allFields["suitable_housing_location_concerns"].text,
    renderSelectedOptions(options.allFields["suitable_housing_location_concerns"]),
    backLink + "#suitable_housing_location"
  ) }}
  {%- endif -%}
  {{ renderSummaryListRow(
    options.allFields["suitable_housing"].text,
    renderSelectedOptions(options.allFields["suitable_housing"]),
    backLink + "#suitable_housing"
  ) }}
  {%- if answers["suitable_housing"] == "YES_WITH_CONCERNS" -%}
    {{ renderSummaryListRow(
    options.allFields["suitable_housing_concerns"].text,
    renderSelectedOptions(options.allFields["suitable_housing_concerns"]),
    backLink + "#suitable_housing"
  ) }}
  {%- endif -%}
  {%- if answers["suitable_housing"] == "NO" -%}
    {{ renderSummaryListRow(
    options.allFields["unsuitable_housing_concerns"].text,
    renderSelectedOptions(options.allFields["unsuitable_housing_concerns"]),
    backLink + "#suitable_housing"
  ) }}
  {%- endif -%}
  {{ renderSummaryListRow(
    options.allFields["accommodation_changes"].text,
    renderSelectedOptions(options.allFields["accommodation_changes"]),
    backLink + "#accommodation_changes"
  ) }}
  {{ renderSummaryListRow(
    "Give details",
    renderAccommodationChangeDetails(answers),
    backLink + "#accommodation_changes"
  ) }}
</dl>
{% endset -%}

{% set practitionerAnalysisHtml %}
<dl class="govuk-summary-list">
  {{ renderSummaryListRow(
    options.allFields["accommodation_practitioner_analysis"].text,
    options.allFields["accommodation_practitioner_analysis"].value,
    "accommodation-summary-analysis-settled#practitioner-analysis"
  ) }}
  {{ renderSummaryListRow(
    options.allFields["accommodation_serious_harm"].text,
    options.allFields["accommodation_serious_harm"].value,
    "accommodation-summary-analysis-settled#practitioner-analysis"
  ) }}
  {{ renderSummaryListRow(
    options.allFields["accommodation_risk_of_reoffending"].text,
    renderSelectedOptions(options.allFields["accommodation_risk_of_reoffending"]),
    "accommodation-summary-analysis-settled#practitioner-analysis"
  ) }}
</dl>
{% endset -%}

{% block formContent %}
{{ govukTabs({
  items: [
    {
      label: "Accommodation summary",
      id: "accommodation-summary",
      panel: {
        html: accommodationSummaryHtml
      }
    },
    {
      label: "Practitioner analysis",
      id: "practitioner-analysis",
      panel: {
        html: practitionerAnalysisHtml
      }
    }
  ]
}) }}
{% endblock %}
