{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "components/question/macro.njk" import renderQuestion %}
{% from "components/summary/accommodation/macro.njk" import renderSummaryFor %}
{% from "components/analysis/macro.njk" import renderAnalysisSummary %}

{% set accommodationSummaryHtml %}
<dl class="govuk-summary-list">
  {{ renderSummaryFor("current_accommodation", { fields: options.allFields, answers: answers, backLink: "accommodation" }) }}
  {%- if answers["type_of_no_accommodation"] != "AWAITING_ASSESSMENT" -%}
  {{ renderSummaryFor("no_accommodation_reason", { fields: options.allFields, answers: answers, backLink: backLink }) }}
  {{ renderSummaryFor("past_accommodation_details", { fields: options.allFields, answers: answers, backLink: backLink }) }}
  {{ renderSummaryFor("suitable_housing_planned", { fields: options.allFields, answers: answers, backLink: backLink }) }}
  {%- endif -%}
  {{ renderSummaryFor("accommodation_changes", { fields: options.allFields, answers: answers, backLink: backLink }) }}
</dl>
{% endset -%}

{% set practitionerAnalysisHtml %}
<dl class="govuk-summary-list">
  {{ renderAnalysisSummary(
    options.allFields["practitioner_analysis_patterns_of_behaviour"],
    options.allFields["practitioner_analysis_patterns_of_behaviour_details"],
    backLink
  ) }}
  {{ renderAnalysisSummary(
    options.allFields["practitioner_analysis_strengths_or_protective_factors"],
    options.allFields["practitioner_analysis_strengths_or_protective_factors_details"],
    backLink
  ) }}
  {{ renderAnalysisSummary(
    options.allFields["practitioner_analysis_risk_of_serious_harm"],
    options.allFields["practitioner_analysis_risk_of_serious_harm_details"],
    backLink
  ) }}
  {{ renderAnalysisSummary(
    options.allFields["practitioner_analysis_risk_of_reoffending"],
    options.allFields["practitioner_analysis_risk_of_reoffending_details"],
    backLink
  ) }}
  {{ renderAnalysisSummary(
    options.allFields["practitioner_analysis_related_to_risk"],
    options.allFields["practitioner_analysis_related_to_risk_details"],
    backLink
  ) }}
</dl>
{% endset -%}

{% block formContent %}
{{ govukTabs({
  items: [
    {
      label: "Accommodation summary",
      id: "accommodation-summary",
      panel: {
        html: accommodationSummaryHtml
      }
    },
    {
      label: "Practitioner analysis",
      id: "practitioner-analysis",
      panel: {
        html: practitionerAnalysisHtml
      }
    }
  ]
}) }}
{% endblock %}
