{% extends "../summary.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/question/macro.njk" import renderQuestion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "components/summary/alcohol/macro.njk" import renderSummaryFor %}

{% block summaryPanel %}  
  {{ renderSummaryFor(options.allFields, answers) }}
{% endblock %}

{% block analysisPanel %}
  {% for field in (form.fields | removeSectionCompleteFields) %}
    {{ renderQuestion(options.fields[field], errors) }}
  {% endfor %}

  <div class="questiongroup-action-buttons">
    {{ govukButton({
      text: buttonText | default("Mark as complete"),
      classes: "govuk-!-margin-bottom-3 govuk-!-margin-right-1"
    }) }}

    {% set saveDraftAction = action + "?action=saveDraft" %}
    {{ govukButton({
      text: "Save as draft",
      classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1 govuk-button--secondary',
      attributes: {
        "formaction": saveDraftAction
      }
    }) }}
  </div>
{% endblock %}
