{% extends "../summary.njk" %}
{% from "components/summary/alcohol/macro.njk" import renderSummaryFor %}
{% from "components/analysis/macro.njk" import renderAnalysisSummary %}

{% block summaryPanel %}  
  {{ renderSummaryFor(options.allFields, answers) }}
{% endblock %}

{% block analysisPanel %}
  {{ renderAnalysisSummary(
    "alcohol",
    "alcohol-analysis#practitioner-analysis",
    options.allFields
  ) }}
{% endblock %}
