{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/question/macro.njk" import renderQuestion %}

{% block formContent %}
<form method="post" action="{{ action }}">
    <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">

    <a href="/form/sbna-poc/settled-accommodation-summary" class="govuk-link govuk-link--no-visited-state summary-analysis-navigation">Questions</a ><a href="/form/sbna-poc/analysis" class="govuk-link govuk-link--no-visited-state summary-analysis-navigation">Analysis</a>

   
    <hr class="govuk-section-break--m govuk-section-break--visible">


    {{ renderQuestion(options.fields['accommodation_practitioner_analysis'], errors) }}  
    {# increase the number of rows of text box? #}
    
    {{ renderQuestion(options.fields['accommodation_analysis_housing_risk'], errors) }}
    


    <div class="questiongroup-action-buttons">
        {{ govukButton({
            text: buttonText | default('Continue'),
            classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
        }) }}
    </div>
</form>
{% endblock %}