{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/question/macro.njk" import renderQuestion %}

{% block formContent %}
<form method="post" action="{{ action }}">
  <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">

{%- macro renderHeroinUsageQuestion(fields, answers) -%}	
    {% for option in fields["drug_use_type"].options %}	   
        {% if option.checked %}	          
          {% if option.value == "HEROIN" %}	
            <h2 class="govuk-heading-m">Heroin</h2>
           {{ renderQuestion(options.fields["drug_usage_heroin"], errors) }}	    
          {% endif %}	
      {% endif %}	     
    {% endfor %}	  
{%- endmacro -%}	

{%- macro renderMethadoneNotPrescribedUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
       {% if option.checked %}	 
        {% if option.value == "METHADONE_NOT_PRESCRIBED" %}
            <h2 class="govuk-heading-m">Methadone (Not prescribed)</h2>
           {{ renderQuestion(options.fields["drug_usage_methadone_not_prescribed"], errors) }}
      {% endif %}
    {% endif %}	 
    {% endfor %}
{%- endmacro -%}

{%- macro renderCrackUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
    {% if option.checked %}	
      {% if option.value == "CRACK" %}
          <h2 class="govuk-heading-m">Crack</h2>
           {{ renderQuestion(options.fields["drug_usage_crack"], errors) }}
      {% endif %}
     {% endif %}	
    {% endfor %}
{%- endmacro -%}

{%- macro renderAmphetaminesUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
       {% if option.checked %}	
          {% if option.value == "AMPHETAMINES" %}
           <h2 class="govuk-heading-m">Amphetamines</h2>
           {{ renderQuestion(options.fields["drug_usage_amphetamines"], errors) }}
          {% endif %}
       {% endif %}	 
    {% endfor %}
{%- endmacro -%}

{%- macro renderBenzodiazepinesUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
      {% if option.checked %}	
          {% if option.value == "BENZODIAZEPINES" %}
           <h2 class="govuk-heading-m">Benzodiazepines</h2>   
           {{ renderQuestion(options.fields["drug_usage_benzodiazepines"], errors) }}
          {% endif %}
       {% endif %}	 
    {% endfor %}
{%- endmacro -%}

{%- macro renderOtherDrugUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
      {% if option.checked %}	
          {% if option.value == "OTHER_DRUG_TYPE" %}
            {{ options.allFields["other_drug_details"].value }}
           {{ renderQuestion(options.fields["drug_usage_other_drug"], errors) }}
          {% endif %}
       {% endif %}	 
    {% endfor %}
{%- endmacro -%}

{%- macro renderCannabisUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
      {% if option.checked %}	
          {% if option.value == "CANNABIS" %}
           <h2 class="govuk-heading-m">Cannabis</h2>   
           {{ renderQuestion(options.fields["drug_usage_cannabis"], errors) }}
          {% endif %}
       {% endif %}	 
    {% endfor %}
{%- endmacro -%}

{%- macro renderCocaineUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
      {% if option.checked %}	
          {% if option.value == "COCAINE" %}
           <h2 class="govuk-heading-m">Cocaine</h2>   
           {{ renderQuestion(options.fields["drug_usage_cocaine"], errors) }}
          {% endif %}
       {% endif %}	 
    {% endfor %}
{%- endmacro -%}

{%- macro renderEcstasyUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
      {% if option.checked %}	
          {% if option.value == "ECSTASY" %}
           <h2 class="govuk-heading-m">Ecstasy</h2>   
           {{ renderQuestion(options.fields["drug_usage_ecstasy"], errors) }}
          {% endif %}
       {% endif %}	 
    {% endfor %}
{%- endmacro -%}

{%- macro renderKetamineUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
      {% if option.checked %}	
          {% if option.value == "KETAMINE" %}
           <h2 class="govuk-heading-m">Ketamine (also known as MDMA)</h2>   
           {{ renderQuestion(options.fields["drug_usage_ketamine"], errors) }}
          {% endif %}
       {% endif %}	 
    {% endfor %}
{%- endmacro -%}

{%- macro renderMethadonePrescribedUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
      {% if option.checked %}	
          {% if option.value == "METHADONE_PRESCRIBED" %}
           <h2 class="govuk-heading-m">Methadone (prescribed)</h2>   
           {{ renderQuestion(options.fields["drug_usage_methadone_prescribed"], errors) }}
          {% endif %}
       {% endif %}	 
    {% endfor %}
{%- endmacro -%}


{%- macro renderNonPrescribedUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
      {% if option.checked %}	
          {% if option.value == "NON_PRESCRIBED_MEDICATION" %}
           <h2 class="govuk-heading-m">Non-prescribed medication</h2>   
           {{ renderQuestion(options.fields["drug_usage_non_prescribed_medication"], errors) }}
          {% endif %}
       {% endif %}	 
    {% endfor %}
{%- endmacro -%}

{%- macro renderPsychoactiveSubstancesUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
      {% if option.checked %}	
          {% if option.value == "PSYCHOACTIVE_SUBSTANCES_SPICE" %}
           <h2 class="govuk-heading-m">Psychoactive substances (spice)</h2>   
           {{ renderQuestion(options.fields["drug_usage_psychoactive_substances"], errors) }}
          {% endif %}
       {% endif %}	 
    {% endfor %}
{%- endmacro -%}


{{ renderHeroinUsageQuestion(options.fields, options.answers) }}
{{ renderMethadoneNotPrescribedUsageQuestion(options.fields, options.answers) }}
{{ renderCrackUsageQuestion(options.fields, options.answers) }}
{{ renderAmphetaminesUsageQuestion(options.fields, options.answers) }}
{{ renderBenzodiazepinesUsageQuestion(options.fields, options.answers) }}
{{ renderOtherDrugUsageQuestion(options.fields, options.answers) }} 
{{ renderCannabisUsageQuestion(options.fields, options.answers) }} 
{{ renderCocaineUsageQuestion(options.fields, options.answers) }}
{{ renderEcstasyUsageQuestion(options.fields, options.answers) }}
{{ renderKetamineUsageQuestion(options.fields, options.answers) }}
{{ renderMethadonePrescribedUsageQuestion(options.fields, options.answers) }}
{{ renderNonPrescribedUsageQuestion(options.fields, options.answers) }}
{{ renderPsychoactiveSubstancesUsageQuestion(options.fields, options.answers) }} 


  {# {% for option in field.options %}
   {%- if value["drug_use_type"] == "HEROIN" -%}
    {{ renderQuestion(options.fields["drug_usage_heroin"], errors) }}
    and 
    {%- if answers["drug_use_type"] == "METHADONE_NOT_PRESCRIBED" -%}
     {{ renderQuestion(options.fields["drug_usage_methadone_not_prescribed"], errors) }}
   {%- endif -%} #}
  {# {% endfor %} #}

  {# {%- if answers["drug_use_type"] != "HEROIN" -%}  
  {{ renderQuestion(options.fields["drug_usage"], errors) }}
  {%- endif -%}  #}

  {# {%- if answers["drug_use_type"] == "METHADONE_NOT_PRESCRIBED" -%}
  {{ renderQuestion(options.fields["drug_usage_methadone_not_prescribed"], errors) }}
  {%- endif -%}

  {%- if answers["drug_use_type"] == "CRACK" -%}
  {{ renderQuestion(options.fields["drug_usage_crack"], errors) }}
  {%- endif -%}

  {%- if answers["drug_use_type"] == "AMPHETAMINES" -%}
  {{ renderQuestion(options.fields["drug_usage_amphetamines"], errors) }}
  {%- endif -%}

  {%- if answers["drug_use_type"] == "BENZODIAZEPINES" -%}
  {{ renderQuestion(options.fields["drug_usage_benzodiazepines"], errors) }}
  {%- endif -%}

  {%- if answers["drug_use_type"] == "OTHER_DRUG_TYPE" -%}
  {{ renderQuestion(options.fields["drug_usage_other_drug"], errors) }} 
  {%- endif -%}  #}
</form>
{% endblock %}
