{% extends "../summary.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/question/macro.njk" import renderQuestion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "components/summary/drugs/macro.njk" import renderSummaryFor %}
{% from "components/summary/drugs-table/macro.njk" import renderDrugsTable %}

{% block summaryPanel %}
  <dl class="govuk-summary-list as-block">
    {{ renderSummaryFor("drug_use", { fields: options.allFields, answers: answers, backLink: "drug-use" }) }}
    <div class="govuk-summary-list__row as-block">
      {{ renderDrugsTable({fields: options.allFields, answers: answers, subject: subjectDetails.givenName}) }}
    </div>
    {{ renderSummaryFor("drug_use_reasons", { fields: options.allFields, answers: answers, backLink: "drug-use-details" }) }}
    {{ renderSummaryFor("drug_use_impact", { fields: options.allFields, answers: answers, backLink: "drug-use-details" }) }}
    {{ renderSummaryFor("reducing_or_stopping_drug_use", { fields: options.allFields, answers: answers, backLink: "drug-use-details" }) }}
    {{ renderSummaryFor("motivated_stopping_drug_use", { fields: options.allFields, answers: answers, backLink: "drug-use-details" }) }}
    {{ renderSummaryFor("drug_use_changes", { fields: options.allFields, answers: answers, backLink: "drug-use-details" }) }}
  </dl>
{% endblock %}

{% block analysisPanel %}
  {% for field in (form.fields | removeSectionCompleteFields) %}
    {{ renderQuestion(options.fields[field], errors) }}
  {% endfor %}

  <div class="questiongroup-action-buttons">
    {{ govukButton({
      text: buttonText | default("Mark as complete"),
      classes: "govuk-!-margin-bottom-3 govuk-!-margin-right-1"
    }) }}

    {% set saveDraftAction = action + "?action=saveDraft" %}
    {{ govukButton({
      text: "Save as draft",
      classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1 govuk-button--secondary',
      attributes: {
        "formaction": saveDraftAction
      }
    }) }}
  </div>
{% endblock %}
