{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/question/macro.njk" import renderQuestion %}

{% block formContent %}
<form method="post" action="{{ action }}">
  <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">

  {%- macro renderHeroinUsageQuestion(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["drug_use_type"].options %}
        {% if option.value == "HEROIN" %}
           <h2 class="govuk-heading-m">Heroin</h2>
           {{ renderQuestion(options.fields["drug_usage_heroin"], errors) }}
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderMethadoneNotPrescribedUsageQuestion(fields, answers) -%}
    {% for option in fields["drug_use_type"].options %}
        {% if option.value == "METHADONE_NOT_PRESCRIBED" %}
            <h2 class="govuk-heading-m">Methadone (Not prescribed)</h2>
           {{ renderQuestion(options.fields["drug_usage_methadone_not_prescribed"], errors) }}
      {% endif %}
    {% endfor %}
{%- endmacro -%}

{%- macro renderCrackUsageQuestion(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["drug_use_type"].options %}
      {% if option.value == "CRACK" %}
          <h2 class="govuk-heading-m">Crack</h2>
           {{ renderQuestion(options.fields["drug_usage_crack"], errors) }}
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderAmphetaminesUsageQuestion(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["drug_use_type"].options %}
          {% if option.value == "AMPHETAMINES" %}
           <h2 class="govuk-heading-m">Amphetamines</h2>
           {{ renderQuestion(options.fields["drug_usage_amphetamines"], errors) }}
          {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderBenzodiazepinesUsageQuestion(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["drug_use_type"].options %}
          {% if option.value == "BENZODIAZEPINES" %}
           <h2 class="govuk-heading-m">Benzodiazepines</h2>   
           {{ renderQuestion(options.fields["drug_usage_benzodiazepines"], errors) }}
          {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderOtherDrugUsageQuestion(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["drug_use_type"].options %}
          {% if option.value == "OTHER_DRUG_TYPE" %}
           <h2 class="govuk-heading-m">Other drug</h2>   
           {{ renderQuestion(options.fields["drug_usage_other_drug"], errors) }}
          {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{{ renderHeroinUsageQuestion(options.fields, options.answers)}}
{{ renderMethadoneNotPrescribedUsageQuestion(options.fields, options.answers)}}
{{ renderCrackUsageQuestion(options.fields, options.answers)}}
{{ renderAmphetaminesUsageQuestion(options.fields, options.answers)}}
{{ renderBenzodiazepinesUsageQuestion(options.fields, options.answers)}}
{{ renderOtherDrugUsageQuestion(options.fields, options.answers)}}

  {# {% for option in field.options %}
   {%- if value["drug_use_type"] == "HEROIN" -%}
    {{ renderQuestion(options.fields["drug_usage_heroin"], errors) }}
    and 
    {%- if answers["drug_use_type"] == "METHADONE_NOT_PRESCRIBED" -%}
     {{ renderQuestion(options.fields["drug_usage_methadone_not_prescribed"], errors) }}
   {%- endif -%} #}
  {# {% endfor %} #}

  {# {%- if answers["drug_use_type"] != "HEROIN" -%}  
  {{ renderQuestion(options.fields["drug_usage"], errors) }}
  {%- endif -%}  #}

  {# {%- if answers["drug_use_type"] == "METHADONE_NOT_PRESCRIBED" -%}
  {{ renderQuestion(options.fields["drug_usage_methadone_not_prescribed"], errors) }}
  {%- endif -%}

  {%- if answers["drug_use_type"] == "CRACK" -%}
  {{ renderQuestion(options.fields["drug_usage_crack"], errors) }}
  {%- endif -%}

  {%- if answers["drug_use_type"] == "AMPHETAMINES" -%}
  {{ renderQuestion(options.fields["drug_usage_amphetamines"], errors) }}
  {%- endif -%}

  {%- if answers["drug_use_type"] == "BENZODIAZEPINES" -%}
  {{ renderQuestion(options.fields["drug_usage_benzodiazepines"], errors) }}
  {%- endif -%}

  {%- if answers["drug_use_type"] == "OTHER_DRUG_TYPE" -%}
  {{ renderQuestion(options.fields["drug_usage_other_drug"], errors) }} 
  {%- endif -%}  #}
</form>
{% endblock %}
