{% extends "../summary.njk" %}
{% from "components/analysis/macro.njk" import renderAnalysisSummary %}
{% from "components/summary/employment-education/macro.njk" import renderSummaryFor %}

{% block summaryPanel %}
  {{ renderSummaryFor(options.allFields, answers) }}
{% endblock %}

{% block analysisPanel %} 
  {{ renderAnalysisSummary(
    "employment_education",
    "employment-education-analysis#practitioner-analysis",
    options.allFields
  ) }}
{% endblock %}
