{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/question/macro.njk" import renderQuestion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "components/summary/finance/macro.njk" import renderSummaryFor %}

{% set financeSummaryHtml %}
<dl class="govuk-summary-list">
  {{ renderSummaryFor("finance_income", { fields: options.allFields, answers: answers, backLink: "finance" }) }}
  {{ renderSummaryFor("finance_bank_account", { fields: options.allFields, answers: answers, backLink: "finance#finance_bank_account-hint" }) }}
  {{ renderSummaryFor("finance_money_management", { fields: options.allFields, answers: answers, backLink: "finance#finance_money_management-hint" }) }}
  {{ renderSummaryFor("finance_gambling", { fields: options.allFields, answers: answers, backLink: "finance" }) }}
  {{ renderSummaryFor("finance_debt", { fields: options.allFields, answers: answers, backLink: "finance" }) }}
  {{ renderSummaryFor("changes_to_finance", { fields: options.allFields, answers: answers, backLink: "finance" }) }}
</dl>

<div class="questiongroup-action-buttons">
  {{ govukButton({
    text: "Go to practitioner analysis",
    classes: "govuk-!-margin-bottom-3",
    href: "#practitioner-analysis"
  }) }}
</div>
{% endset -%}

{% set practitionerAnalysisHtml %}
{{ renderQuestion(options.fields["finance_practitioner_analysis_patterns_of_behaviour"], errors) }}
{{ renderQuestion(options.fields["finance_practitioner_analysis_patterns_of_behaviour_details"], errors) }}
{{ renderQuestion(options.fields["finance_practitioner_analysis_strengths_or_protective_factors"], errors) }}
{{ renderQuestion(options.fields["finance_practitioner_analysis_strengths_or_protective_factors_details"], errors) }}
{{ renderQuestion(options.fields["finance_practitioner_analysis_risk_of_serious_harm"], errors) }}
{{ renderQuestion(options.fields["finance_practitioner_analysis_risk_of_serious_harm_details"], errors) }}
{{ renderQuestion(options.fields["finance_practitioner_analysis_risk_of_reoffending"], errors) }}
{{ renderQuestion(options.fields["finance_practitioner_analysis_risk_of_reoffending_details"], errors) }}
{{ renderQuestion(options.fields["finance_practitioner_analysis_related_to_risk"], errors) }}
{{ renderQuestion(options.fields["finance_practitioner_analysis_related_to_risk_details"], errors) }}

<div class="questiongroup-action-buttons">
  {{ govukButton({
    text: buttonText | default("Mark as complete"),
    classes: "govuk-!-margin-bottom-3 govuk-!-margin-right-1"
  }) }}

  {% set saveDraftAction = action + "?action=saveDraft" %}
  {{ govukButton({
    text: "Save as draft",
    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1 govuk-button--secondary',
    attributes: {
      "formaction": saveDraftAction
    }
  }) }}
</div>
{% endset -%}

{% block formContent %}
  <form method="post" action="{{ action }}">
    <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">
{{ govukTabs({
  items: [
    {
      label: "Summary",
      id: "finance-summary",
      panel: {
        html: financeSummaryHtml
      }
    },
    {
      label: "Practitioner analysis",
      id: "practitioner-analysis",
      panel: {
        html: practitionerAnalysisHtml
      }
    }
  ]
}) }}
</form>
{% endblock %}
