{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/question/macro.njk" import renderQuestion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{%- macro renderSelectedOptions(field) -%}
<ul class="govuk-list">
 {% for option in field.options %}
  {%  if option.checked  %}
  <li> {{ option.text }} </li>
  {% endif %}
 {% endfor %}
</ul>
{%- endmacro -%}

{%- macro renderSummaryListRow(label, optionValue, yesValue, noValue, changeLink) -%}
  <div class="govuk-summary-list--no-border">
    <dd class="govuk-summary-list__actions govuk-summary-list change-link">
      <a class="govuk-link" href="{{ changeLink }}">
      Change<span class="govuk-visually-hidden">value for {{ label }}</span>
      </a>
    </dd>
    <dt class="govuk-summary-list__key">
      {{ label }}
    </dt>
     <dd class="govuk-summary-list__value give-details-text">
      {{ optionValue }} 
    </dd>
    <dd class="govuk-summary-list__value give-details-text">
       {{ yesValue }}
    </dd>
     <dd class="govuk-summary-list__value give-details-text">
      {{ noValue }}
    </dd>
  </div>
{%- endmacro -%}

{% block formContent %}
<form method="post" action="{{ action }}">
    <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">
{% set drugUseSummaryHtml %}

{% endset -%}

{% set practitionerAnalysisHtml %}
<dl class="govuk-summary-list">
  <h2 class="govuk-heading-m">Patterns of behaviours</h2>
  {{ renderSummaryListRow(
     renderSelectedOptions(options.allFields["patterns_or_behaviours"]),
     options.allFields["patterns_or_behaviours_yes_details"].value,
     options.allFields["patterns_or_behaviours_no_details"].value,
    ""
  ) }}
   <h2 class="govuk-heading-m">Strengths or protective factors</h2>
  {{ renderSummaryListRow(
     renderSelectedOptions(options.allFields["strengths_or_protective_factors"]),
     options.allFields["strengths_or_protective_factors_yes_details"].value,
     options.allFields["strengths_or_protective_factors_no_details"].value,
    ""
  ) }}
  <h2 class="govuk-heading-m">Linked to risk of serious harm</h2>
    {{ renderSummaryListRow(
     renderSelectedOptions(options.allFields["linked_to_risk_of_serious_harm"]),
     options.allFields["linked_to_risk_of_serious_harm_yes_details"].value,
     options.allFields["linked_to_risk_of_serious_harm_no_details"].value,

    ""
  ) }}
   <h2 class="govuk-heading-m">Linked to risk of reoffending</h2>
    {{ renderSummaryListRow(
     renderSelectedOptions(options.allFields["linked_to_risk_of_reoffending"]),
     options.allFields["linked_to_risk_of_reoffending_yes_details"].value,
     options.allFields["linked_to_risk_of_reoffending_no_details"].value,

    ""
  ) }}
    <h2 class="govuk-heading-m">Area of need not related to risk</h2>
    {{ renderSummaryListRow(
     renderSelectedOptions(options.allFields["not_related_to_risk"]),
     options.allFields["not_related_to_risk_yes_details"].value,
     options.allFields["not_related_to_risk_no_details"].value,

    ""
  ) }} 
</dl>
<div class="questiongroup-action-buttons">
  {{ govukButton({
    text: buttonText | default("Mark as complete"),
    classes: "govuk-!-margin-bottom-3 govuk-!-margin-right-1"
  }) }}
</div>
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Summary",
      id: "drug-use-summary",
      panel: {
        html: drugUseSummaryHtml
      }
    },
    {
      label: "Practitioner analysis",
      id: "practitioner-analysis",
      panel: {
        html: practitionerAnalysisHtml
      }
    }
  ]
}) }}
{% endblock %}
