{% extends "../summary-new.njk" %}
{% from "components/question/macro.njk" import renderQuestion %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block analysisPanel %}
  <form id="form" method="post" action="{{ action }}#practitioner-analysis">
    <input type="hidden" name="x-csrf-token" value="{{ getCsrf() }}">
    {% for field in (form.fields | removeSectionCompleteFields) %}
      {{ renderQuestion(options.fields[field], errors) }}
    {% endfor %}

    <div class="questiongroup-action-buttons">
      {{ govukButton({
        text: buttonText | default("Mark as complete"),
        classes: "govuk-!-margin-bottom-3 govuk-!-margin-right-1"
      }) }}
    </div>
  </form>
{% endblock %}
