{% import "components/summary/macro.njk" as summary %}

<dl class="govuk-summary-list">
 {% set fieldCodes = [
   "offence_analysis_description_of_offence",
   "offence_analysis_date",
   "offence_analysis_elements"
 ] %}

 {% for fieldCode in fieldCodes %}
   {{ summary.renderListRow(
     fields[fieldCode].text,
     summary.renderSelectedOptions(fields[fieldCode], answers),
     "offence-an" + fieldCode
   ) }}
 {% endfor %}
</dl>
