{%- macro renderSelectedOptions(field) -%}
  <ul class="govuk-list">
    {% for option in field.options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSummaryListRow(label, value, changeLink) -%}
  <div class="govuk-summary-list__row as-block clearfix">
    <dt class="govuk-summary-list__key to-the-left">
      <span class="summary__label">{{ label }}</span>
    </dt>
    <dd class="govuk-summary-list__value to-the-left summary-value">
      {{ value }}
    </dd>
    <dd class="govuk-summary-list__actions to-the-right">
      <a class="govuk-link" href="{{ changeLink }}">
      Change<span class="govuk-visually-hidden">value for {{ label }}</span>
      </a>
    </dd>
  </div>
{%- endmacro -%}

{%- macro renderCurrentAccommodation(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["current_accommodation"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% switch option.value %}
          {% case "SETTLED" %}
            {{ renderSettledAccommodationType(fields["type_of_settled_accommodation"]) }}
          {% case "TEMPORARY" %}
            {{ renderTemporaryAccommodationType(fields, answers) }}
          {% case "NO_ACCOMMODATION" %}
            {{ renderNoAccommodationType(fields, answers) }}
          {% endswitch %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSettledAccommodationType(field) -%}
    {% for option in field.options %}
      {% if option.checked %}
        <span class="summary__answer--secondary">{{ option.text }}</span>
      {% endif %}
    {% endfor %}
{%- endmacro -%}

{%- macro renderTemporaryAccommodationType(fields, answers) -%}
  {% for option in fields["type_of_temporary_accommodation"].options %}
    {% if option.checked %}
      <span class="summary__answer--secondary">{{ option.text }}</span>
      <span class="summary__answer--secondary">Expected end date:</span>
      {% switch option.value %}
        {% case "SHORT_TERM" %}
          <span class="summary__answer--secondary">{{ answers["short_term_accommodation_end_date"] | formatDateForDisplay | default('Not provided', true) }}</span>
        {% case "APPROVED_PREMISES" %}
          <span class="summary__answer--secondary">{{ answers["approved_premises_end_date"] | formatDateForDisplay | default('Not provided', true) }}</span>
        {% case "CAS2" %}
          <span class="summary__answer--secondary">{{ answers["cas2_end_date"] | formatDateForDisplay | default('Not provided', true) }}</span>
        {% case "CAS3" %}
          <span class="summary__answer--secondary">{{ answers["cas3_end_date"] | formatDateForDisplay | default('Not provided', true) }}</span>
        {% case "IMMIGRATION" %}
          <span class="summary__answer--secondary">{{ answers["immigration_accommodation_end_date"] | formatDateForDisplay | default('Not provided', true) }}</span>
      {% endswitch %}
    {% endif %}
  {% endfor %}
{%- endmacro -%}

{%- macro renderNoAccommodationType(fields, answers) -%} 
  {% for option in fields["type_of_no_accommodation"].options %}
    {% if option.checked %}
        <span class="summary__answer--secondary">{{ option.text }}</span>
        {% switch option.value %}
          {% case "AWAITING_ASSESSMENT" %}
            {% if answers["awaiting_assessment_details"] %}
              <span class="summary__answer--secondary">{{ answers["awaiting_assessment_details"] }}</span>
            {%endif %}
        {% endswitch %}
    {% endif %}
  {% endfor %}
{%- endmacro -%}

{%- macro renderLivingWith(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["living_with"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% switch option.value %}
          {% case "PARTNER" %}
            <span class="summary__answer--secondary">{{ answers["living_with_partner_details"] }}</span>
          {% case "PERSON_UNDER_18" %}
            <span class="summary__answer--secondary">{{ answers["living_with_person_under_18_details"] }}</span>
          {% case "OTHER" %}
            <span class="summary__answer--secondary">{{ answers["living_with_other"] }}</span>
          {% endswitch %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSuitableHousingLocationConcerns(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["suitable_housing_location_concerns"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer--secondary">{{ option.text }}</span>
          {% if option.value == "OTHER" %}
            <span class="summary__answer--secondary">{{ answers["suitable_housing_location_concerns_other_details"] }}</span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSuitableHousingLocation(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["suitable_housing_location"].options %}
        {% if option.checked %}
        <li>
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value == "NO" %}
            {{ renderSuitableHousingLocationConcerns(fields, answers) }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSuitableHousingConcerns(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["suitable_housing_concerns"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer--secondary">{{ option.text }}</span>
          {% if option.value == "OTHER" %}
            <span class="summary__answer--secondary">{{ answers["suitable_housing_concerns_other_details"] }}</span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderUnsuitableHousingConcerns(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["unsuitable_housing_concerns"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer--secondary">{{ option.text }}</span>
          {% if option.value == "OTHER" %}
            <span class="summary__answer--secondary">{{ answers["unsuitable_housing_concerns_other_details"] }}</span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSuitableHousingLocation(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["suitable_housing"].options %}
        {% if option.checked %}
        <li>
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value == "YES_WITH_CONCERNS" %}
            {{ renderSuitableHousingConcerns(fields, answers) }}
          {% endif %}
          {% if option.value == "NO" %}
            {{ renderUnsuitableHousingConcerns(fields, answers) }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderAccommodationChange(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["accommodation_changes"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {%- switch option.value -%}
            {% case "MADE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["accommodation_made_changes_details"] }}</span>
            {% case "MAKING_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["accommodation_making_changes_details"] }}</span>
            {% case "WANT_TO_MAKE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["accommodation_want_to_make_changes_details"] }}</span>
            {% case "NEEDS_HELP_TO_MAKE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["accommodation_needs_help_to_make_changes_details"] }}</span>
            {% case "THINKING_ABOUT_MAKING_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["accommodation_thinking_about_making_changes_details"] }}</span>
            {% case "DOES_NOT_WANT_TO_MAKE_CHANGES" %}
              <span class="summary__answer--secondary">{{ answers["accommodation_does_not_want_to_make_changes_details"] }}</span>
            {% default %}
          {%- endswitch -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSuitableHousingPlanned(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["suitable_housing_planned"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value == "YES" %}
            <ul class="govuk-list">
              {% for subOption in fields["future_accommodation_type"].options %}
                {% if subOption.checked %}
                  <li class="summary-details-list">
                    <span class="summary__answer--secondary">{{ subOption.text }}</span>
                    {%- switch subOption.value -%}
                    {% case "AWAITING_ASSESSMENT" %}
                      <span class="summary__answer--secondary">{{ answers["suitable_housing_planned_awaiting_assessment_details"] }}</span>
                    {% case "AWAITING_PLACEMENT" %}
                      <span class="summary__answer--secondary">{{ answers["awaiting_accommodation_placement_details"] }}</span>
                    {% case "OTHER" %}
                      <span class="summary__answer--secondary">{{ answers["suitable_housing_planned_other_details"] }}</span>
                    {%- endswitch -%}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderNoAccommodationReason(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["no_accommodation_reason"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value == "OTHER" %}
            <span class="summary__answer--secondary">{{ answers["no_accommodation_reason_other_details"] }}</span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{% macro renderSummaryItemFor(field, options) %}
  {%- switch field -%}
  {% case "current_accommodation" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderCurrentAccommodation(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {% case "living_with" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderLivingWith(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {% case "suitable_housing_location" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderSuitableHousingLocation(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {% case "suitable_housing" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderSuitableHousingLocation(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {% case "accommodation_changes" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderAccommodationChange(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {% case "suitable_housing_planned" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderSuitableHousingPlanned(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {% case "no_accommodation_reason" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderNoAccommodationReason(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {% case "past_accommodation_details" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      options.fields[field].value,
      options.backLink + "#" + field
    ) }}
  {%- endswitch -%}
{% endmacro %}

{% set backLink = "" %}

{% if answers["current_accommodation"] === "SETTLED" %}
  {% set backLink = "settled-accommodation" %}
{% elif answers["current_accommodation"] === "TEMPORARY" %}
  {% if answers["type_of_temporary_accommodation"] === "SHORT_TERM" or answers["type_of_temporary_accommodation"] === "IMMIGRATION" %}
    {% set backLink = "temporary-accommodation-2" %}
  {% else %}
    {% set backLink = "temporary-accommodation" %}
  {% endif %}
{% elif answers["current_accommodation"] === "NO_ACCOMMODATION" %}
  {% if answers["type_of_no_accommodation"] === "AWAITING_ASSESSMENT" %}
    {% set backLink = "no-accommodation-2" %}
  {% else %}
    {% set backLink = "no-accommodation" %}
  {% endif %}
{% endif %}

<dl class="govuk-summary-list">
  {{ renderSummaryItemFor("current_accommodation", { fields: fields, answers: answers, backLink: "accommodation" }) }}
  {% if answers["current_accommodation"] === "SETTLED" %}
    {{ renderSummaryItemFor("living_with", { fields: fields, answers: answers, backLink: backLink }) }}
    {{ renderSummaryItemFor("suitable_housing_location", { fields: fields, answers: answers, backLink: backLink }) }}
    {{ renderSummaryItemFor("suitable_housing", { fields: fields, answers: answers, backLink: backLink }) }}
  {% elif answers["current_accommodation"] === "TEMPORARY" %}
    {% if not (answers["type_of_temporary_accommodation"] == "SHORT_TERM" or answers["type_of_temporary_accommodation"] == "IMMIGRATION") %}
      {{ renderSummaryItemFor("living_with", { fields: fields, answers: answers, backLink: backLink }) }}
    {% endif %}
    {{ renderSummaryItemFor("suitable_housing_location", { fields: fields, answers: answers, backLink: backLink }) }}
    {{ renderSummaryItemFor("suitable_housing", { fields: fields, answers: answers, backLink: backLink }) }}
    {{ renderSummaryItemFor("suitable_housing_planned", { fields: fields, answers: answers, backLink: backLink }) }}
  {% elif answers["current_accommodation"] === "NO_ACCOMMODATION" %}
    {% if answers["type_of_no_accommodation"] !== "AWAITING_ASSESSMENT" %}
      {{ renderSummaryItemFor("no_accommodation_reason", { fields: fields, answers: answers, backLink: backLink }) }}
      {{ renderSummaryItemFor("past_accommodation_details", { fields: fields, answers: answers, backLink: backLink }) }}
      {{ renderSummaryItemFor("suitable_housing_planned", { fields: fields, answers: answers, backLink: backLink }) }}
    {% endif %}
  {% endif %}
  {{ renderSummaryItemFor("accommodation_changes", { fields: fields, answers: answers, backLink: backLink }) }} 
</dl>
