{% from "govuk/components/button/macro.njk" import govukButton %}

{% for item in collections["living_with_partner"] %}
<div class="collection__element">
  <div class="collection__element__controls">
    {% set editAction = action + "?action=editPartner&index=" + loop.index0 %}

    {{ govukButton({
      text: "Change",
      classes: "govuk-button--secondary",
      attributes: {
        "formaction": editAction
      }
    }) }}

    {% set removeAction = action + "?action=removePartner&index=" + loop.index0 %}

    {{ govukButton({
      text: "Remove",
      classes: "govuk-button--secondary",
      attributes: {
        "formaction": removeAction
      }
    }) }}
  </div>
  <div>
    <span class="collection__element__label">Name:</span><span>{{ item["partner_name"].value }}</span>
  </div>
  <div>
    <span class="collection__element__label">Age:</span><span>{{ item["partner_age"].value }}</span>
  </div>
  <div>
    <span class="collection__element__label">Gender:</span><span>{{ item["partner_gender"] | toOptionDescription }}</span>
  </div>
</div>
{% endfor %}

{% set addAction = action + "?action=addPartner" %}

{{ govukButton({
  text: "Add partner details (optional)",
  classes: "govuk-button--secondary",
  attributes: {
    "formaction": addAction
  }
}) }}
