{% extends "./layout.njk" %}

{% block content %}
  <h1>You need to sign in to use this service</h1>
  <p>This could be because you’ve used a bookmarked link, or your session has expired due to inactivity.</p>
  <p><a href="{{ oasysUrl }}">Go to the OASys homepage</a> to sign in again.</p>
{% endblock %}
