{% extends "./layout.njk" %}

{% block content %}
  <h1>Sorry, there is a problem with the service</h1>
  <p>Try reloading the page. You can do this by pressing F5 (on a PC), or Cmd + R (on a Mac).</p>
  <p>If the page still does not load, try again later.</p>
{% endblock %}
