{% extends "./layout.njk" %}

{% block content %}
  <h1>Sorry, the service is unavailable</h1>
  <p>You'll be able to use the service later.</p>
  <p><a href="{{ oasysUrl }}">Go to the OASys homepage</a>.</p>
{% endblock %}
