{%- macro renderSelectedOptions(field) -%}
  <ul class="govuk-list">
    {% for option in field.options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSummaryListRow(label, value, changeLink) -%}
  <div class="govuk-summary-list__row as-block clearfix">
    <dt class="govuk-summary-list__key to-the-left">
      <span class="summary__label">{{ label }}</span>
    </dt>
    <dd class="govuk-summary-list__value to-the-left summary-value">
      {{ value }}
    </dd>
    <dd class="govuk-summary-list__actions to-the-right">
      <a class="govuk-link" href="{{ changeLink }}">
      Change<span class="govuk-visually-hidden">value for {{ label }}</span>
      </a>
    </dd>
  </div>
{%- endmacro -%}

{%- macro renderSubOption(field) -%}
    {% for option in field.options %}
      {% if option.checked %}
        <span class="summary__answer--secondary">{{ option.text }}</span>
      {% endif %}
    {% endfor %}
{%- endmacro -%}

{%- macro renderPhysicalHealthCondition(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["health_wellbeing_physical_health_condition"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value === "YES" %}
              <span class="summary__answer--secondary">{{ answers["health_wellbeing_physical_health_condition_details"] }}</span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderMentalHealthCondition(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["health_wellbeing_mental_health_condition"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% switch option.value %}
            {% case "YES_ONGOING_SEVERE" %}
              <span class="summary__answer--secondary">{{ answers["health_wellbeing_mental_health_condition_yes_ongoing_severe_details"] }}</span>
            {% case "YES_ONGOING" %}
              <span class="summary__answer--secondary">{{ answers["health_wellbeing_mental_health_condition_yes_ongoing_details"] }}</span>
            {% case "YES_IN_THE_PAST" %}
              <span class="summary__answer--secondary">{{ answers["health_wellbeing_mental_health_condition_yes_in_the_past_details"] }}</span>
          {% endswitch %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderNeurodiverseCondition(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["health_wellbeing_neurodiverse_conditions"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value === "YES" %}
              <span class="summary__answer--secondary">{{ answers["health_wellbeing_neurodiverse_conditions_details"] }}</span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderLearningDifficulties(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["health_wellbeing_learning_difficulties"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% switch option.value %}
            {% case "YES_SOME_DIFFICULTIES" %}
              <span class="summary__answer--secondary">{{ answers["health_wellbeing_learning_difficulties_yes_some_difficulties_details"] }}</span>
            {% case "YES_SIGNIFICANT_DIFFICULTIES" %}
              <span class="summary__answer--secondary">{{ answers["health_wellbeing_learning_difficulties_yes_significant_difficulties_details"] }}</span>
          {% endswitch %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSelfHarmed(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["health_wellbeing_self_harmed"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value === "YES" %}
              <span class="summary__answer--secondary">{{ answers["health_wellbeing_self_harmed_details"] }}</span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderAttemptedOrThoughtsOfSuicide(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["health_wellbeing_attempted_suicide_or_suicidal_thoughts"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value === "YES" %}
              <span class="summary__answer--secondary">{{ answers["health_wellbeing_attempted_suicide_or_suicidal_thoughts_details"] }}</span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderPositiveFactors(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["health_wellbeing_positive_factors"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {% if option.value === "OTHER" %}
              <span class="summary__answer--secondary">{{ answers["health_wellbeing_positive_factors_other_details"] }}</span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderChanges(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["health_wellbeing_changes"].options %}
        {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {%- switch option.value -%}
            {% case "MADE_CHANGES" %}
              <span class="govuk-!-font-size-16">{{ answers["health_wellbeing_changes_made_changes_details"] }}</span>
            {% case "MAKING_CHANGES" %}
              <span class="govuk-!-font-size-16">{{ answers["health_wellbeing_changes_making_changes_details"] }}</span>
            {% case "WANT_TO_MAKE_CHANGES" %}
              <span class="govuk-!-font-size-16">{{ answers["health_wellbeing_changes_want_to_make_changes_details"] }}</span>
            {% case "NEEDS_HELP_TO_MAKE_CHANGES" %}
              <span class="govuk-!-font-size-16">{{ answers["health_wellbeing_changes_needs_help_to_make_changes_details"] }}</span>
            {% case "THINKING_ABOUT_MAKING_CHANGES" %}
              <span class="govuk-!-font-size-16">{{ answers["health_wellbeing_changes_thinking_about_making_changes_details"] }}</span>
            {% case "DOES_NOT_WANT_TO_MAKE_CHANGES" %}
              <span class="govuk-!-font-size-16">{{ answers["health_wellbeing_changes_does_not_want_to_make_changes_details"] }}</span>
            {% default %}
          {%- endswitch -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{% macro renderSummaryItemFor(field, options) %}
  {%- switch field -%}
    {% case "health_wellbeing_physical_health_condition" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderPhysicalHealthCondition(options.fields, options.answers),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_mental_health_condition" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderMentalHealthCondition(options.fields, options.answers),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_prescribed_medication_physical_conditions" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        options.answers[field] | default("Not entered", true),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_prescribed_medication_mental_conditions" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        options.answers[field] | default("Not entered", true),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_psychiatric_treatment" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderSelectedOptions(options.fields[field]),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_head_injury_or_illness" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderSelectedOptions(options.fields[field]),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_neurodiverse_conditions" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderNeurodiverseCondition(options.fields, options.answers),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_learning_difficulties" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderLearningDifficulties(options.fields, options.answers),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_coping_day_to_day_life" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderSelectedOptions(options.fields[field]),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_attitude_towards_self" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderSelectedOptions(options.fields[field]),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_self_harmed" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderSelfHarmed(options.fields, options.answers),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_attempted_suicide_or_suicidal_thoughts" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderAttemptedOrThoughtsOfSuicide(options.fields, options.answers),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_outlook" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderSelectedOptions(options.fields[field]),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_positive_factors" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderPositiveFactors(options.fields, options.answers),
        options.backLink + "#" + field
      ) }}
    {% case "health_wellbeing_changes" %}
      {{ renderSummaryListRow(
        options.fields[field].text,
        renderChanges(options.fields, options.answers),
        options.backLink + "#" + field
      ) }}
  {%- endswitch -%}
{% endmacro %}

{% set hasPhysicalCondition = answers["health_wellbeing_physical_health_condition"] === "YES" %}
{% set hasMentalCondition = answers["health_wellbeing_mental_health_condition"] === "YES_ONGOING_SEVERE" or answers["health_wellbeing_mental_health_condition"] === "YES_ONGOING" or answers["health_wellbeing_mental_health_condition"] === "YES_IN_THE_PAST" %}

{% if hasPhysicalCondition and hasMentalCondition %}
  {% set backLink = "physical-and-mental-health-condition" %}
{% elif hasPhysicalCondition and not hasMentalCondition %}
  {% set backLink = "physical-health-condition" %}
{% elif not hasPhysicalCondition and hasMentalCondition %}
  {% set backLink = "mental-health-condition" %}
{% elif not hasPhysicalCondition and not hasMentalCondition %}
  {% set backLink = "no-physical-or-mental-health-condition" %}
{% endif %}

<dl class="govuk-summary-list">
  {{ renderSummaryItemFor("health_wellbeing_physical_health_condition", { fields: fields, answers: answers, backLink: "health-wellbeing" }) }}
  {{ renderSummaryItemFor("health_wellbeing_mental_health_condition", { fields: fields, answers: answers, backLink: "health-wellbeing" }) }}
  {% if answers["health_wellbeing_physical_health_condition"] === "YES" %}
    {{ renderSummaryItemFor("health_wellbeing_prescribed_medication_physical_conditions", { fields: fields, answers: answers, backLink: backLink }) }}
  {% endif %}
  {% if answers["health_wellbeing_mental_health_condition"] === "YES_ONGOING_SEVERE" or answers["health_wellbeing_mental_health_condition"] === "YES_ONGOING" or answers["health_wellbeing_mental_health_condition"] === "YES_IN_THE_PAST" %}
    {{ renderSummaryItemFor("health_wellbeing_prescribed_medication_mental_conditions", { fields: fields, answers: answers, backLink: backLink }) }}
    {{ renderSummaryItemFor("health_wellbeing_psychiatric_treatment", { fields: fields, answers: answers, backLink: backLink }) }}
  {% endif %}
  {{ renderSummaryItemFor("health_wellbeing_head_injury_or_illness", { fields: fields, answers: answers, backLink: backLink }) }}
  {{ renderSummaryItemFor("health_wellbeing_neurodiverse_conditions", { fields: fields, answers: answers, backLink: backLink }) }}
  {{ renderSummaryItemFor("health_wellbeing_learning_difficulties", { fields: fields, answers: answers, backLink: backLink }) }}
  {{ renderSummaryItemFor("health_wellbeing_coping_day_to_day_life", { fields: fields, answers: answers, backLink: backLink }) }}
  {{ renderSummaryItemFor("health_wellbeing_attitude_towards_self", { fields: fields, answers: answers, backLink: backLink }) }}
  {{ renderSummaryItemFor("health_wellbeing_self_harmed", { fields: fields, answers: answers, backLink: backLink }) }}
  {{ renderSummaryItemFor("health_wellbeing_attempted_suicide_or_suicidal_thoughts", { fields: fields, answers: answers, backLink: backLink }) }}
  {{ renderSummaryItemFor("health_wellbeing_outlook", { fields: fields, answers: answers, backLink: backLink }) }}
  {{ renderSummaryItemFor("health_wellbeing_positive_factors", { fields: fields, answers: answers, backLink: backLink }) }}
  {{ renderSummaryItemFor("health_wellbeing_changes", { fields: fields, answers: answers, backLink: backLink }) }}
</dl>
