{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/select/macro.njk" import govukSelect -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/character-count/macro.njk" import govukCharacterCount -%}

{% set errorMessageText = errors[question.id].message %}
{% if errorMessageText %}
  {% set errorMessage = { text: errorMessageText } %}
{% endif %}

{% switch question.type %}
  {% case 'TEXT' %}
    {{ govukInput({
      id: question.id,
      name: question.id,
      value: question.value | safe,
      formGroup : {
        classes: "form-group " + (question.classes | default(""))
      },
      attributes: question.attributes,
      label: {
        text: question.text,
        isPageHeading: false,
        classes: question.id + " " + (question.labelClasses | default(""))
      },
      hint: question.hint,
      errorMessage: errorMessage,
      classes: options.classes
    }) }}

  {% case 'TEXT_AREA' %}
    <div class="form-group">
    {{ govukCharacterCount({
      name:question.id,
      id: question.id,
      maxlength: question.characterCountMax | default(400),
      value: question.value | safe,
      label: {
        text: question.text,
        isPageHeading: false,
        classes: question.id + " " + (question.labelClasses | default(""))
      },
      formGroup : {
        classes: question.classes | default("")
      },
      attributes: question.attributes,
      hint: question.hint,
      errorMessage: errorMessage
    }) }}

    </div>

  {% case 'RADIO' %}
    {{ govukRadios({
      idPrefix: question.id,
      name: question.id,
      formGroup : {
        classes: "form-group " + (question.classes | default(""))
      },
      attributes: question.attributes,
      fieldset: {
        legend: {
          text: question.text,
          classes: question.id + " " + (question.labelClasses | default(""))
        }
      },
      items: question.options,
      errorMessage: errorMessage,
      isConditional: question.isConditional,
      hint: question.hint
    }) }}

  {% case 'CHECKBOX' %}
    {{ govukCheckboxes({
      idPrefix: question.id,
      name: question.id,
      formGroup : {
        classes: "form-group " + (question.classes | default(""))
      },
      attributes: question.attributes,
      fieldset: {
        legend: {
          text: question.text,
          classes: question.id + " " + (question.labelClasses | default(""))
        }
      },
      items: question.options,
      errorMessage: errorMessage,
      isConditional: question.isConditional,
      hint: question.hint
    }) }}

  {% case 'DROPDOWN' %}
    {{ govukSelect({
      id: question.id,
      name: question.id,
      formGroup : {
        classes: "form-group " + (question.classes | default(""))
      },
      label: {
        text: question.text,
        classes: question.id + " " + (question.labelClasses | default(""))
      },
      attributes: question.attributes,
      items: question.options,
      errorMessage: errorMessage,
      isConditional: question.isConditional,
      hint: question.hint
    }) }}

  {% case 'DATE' %}
    {% set dateAnswer = question.value %}
    {% if dateAnswer.length > 0 %}
      {% set answerDay = dateAnswer[2] %}
      {% set answerMonth = dateAnswer[1] %}
      {% set answerYear = dateAnswer[0] %}
    {% else %}
      {% set answerDay = '' %}
      {% set answerMonth = '' %}
      {% set answerYear = '' %}
    {% endif %}

    {{ govukDateInput({
      id: question.id,
      namePrefix: question.id,
      formGroup : {
        classes: "form-group " + (question.classes | default(""))
      },
      fieldset: {
        legend: {
          text: question.text,
          isPageHeading: false,
          classes: question.id + " " + (question.labelClasses | default(""))
        }
      },
      hint: question.hint,
      items: [
        {
          classes: "govuk-input--width-2",
          name: "day",
          value: answerDay
        },
        {
          classes: "govuk-input--width-2",
          name: "month",
          value: answerMonth
        },
        {
          classes: "govuk-input--width-4",
          name: "year",
          value: answerYear
        }
      ],
      errorMessage: errorMessage,
      attributes: question.attributes
    }) }}

  {% default %}
    <!-- {{ question.id }} - {{ question.type }} questions are not currently rendered -->
{% endswitch %}
