{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/select/macro.njk" import govukSelect -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/character-count/macro.njk" import govukCharacterCount -%}

{% set errorMessageText = errors[field.id].message %}
{% if errorMessageText %}
  {% set errorMessage = { text: errorMessageText } %}
{% endif %}

{% switch field.type %}
  {% case 'TEXT' %}
    <div class="form-group">
    {{ govukInput({
      id: field.id,
      name: field.id,
      value: field.value | safe,
      attributes: field.attributes,
      label: {
        text: field.text,
        isPageHeading: false,
        classes: field.id + " " + (field.labelClasses | default(""))
      },
      formGroup: {
        classes: "form-group " + (field.formGroupClasses | default(""))
      },
      hint: field.hint,
      errorMessage: errorMessage,
      classes: field.classes
    }) }}
    </div>

  {% case 'TEXT_AREA' %}
    <div class="form-group">
    {{ govukCharacterCount({
      name:field.id,
      id: field.id,
      maxlength: getMaxCharacterCount(field),
      value: field.value | safe,
      label: {
        text: field.text,
        isPageHeading: false,
        classes: field.id + " " + (field.labelClasses | default(""))
      },
      formGroup: {
        classes: "form-group " + (field.formGroupClasses | default(""))
      },
      attributes: field.attributes | setProp("data-grow-wrap"),
      hint: field.hint,
      errorMessage: errorMessage,
      classes: field.classes
    }) }}
    </div>

  {% case 'RADIO' %}
    {% set innerHtml %}
    {{ govukRadios({
      idPrefix: field.id,
      name: field.id,
      classes: field.classes | default(""),
      attributes: field.attributes,
      fieldset: {
        legend: {
          text: field.text,
          classes: field.id + " " + (field.labelClasses | default(""))
        }
      },
      formGroup: {
        classes: "form-group " + (field.formGroupClasses | default(""))
      },
      items: field.options,
      errorMessage: errorMessage,
      isConditional: field.isConditional,
      hint: field.hint
    }) }}
    {% endset %}
    {{ innerHtml | outdent(2) | safe }}

  {% case 'CHECKBOX' %}
    {% set innerHtml %}
    {{ govukCheckboxes({
      idPrefix: field.id,
      name: field.id,
      classes: field.classes | default(""),
      attributes: field.attributes,
      fieldset: {
        legend: {
          text: field.text,
          classes: field.id + " " + (field.labelClasses | default(""))
        }
      },
      formGroup: {
        classes: "form-group " + (field.formGroupClasses | default(""))
      },
      items: field.options,
      errorMessage: errorMessage,
      isConditional: field.isConditional,
      hint: field.hint
    }) }}
    {% endset %}
    {{ innerHtml | outdent(2) | safe }}

  {% case 'DROPDOWN' %}
    {{ govukSelect({
      id: field.id,
      name: field.id,
      classes: field.classes | default(""),
      label: {
        text: field.text,
        classes: field.id + " " + (field.labelClasses | default(""))
      },
      formGroup: {
        classes: "form-group " + (field.formGroupClasses | default(""))
      },
      attributes: field.attributes,
      items: field.options,
      errorMessage: errorMessage,
      isConditional: field.isConditional,
      hint: field.hint
    }) }}

  {% case 'AUTOCOMPLETE' %}
    <div class="form-group">
      {{ govukSelect({
        id: field.id,
        name: field.id,
        classes: field.classes | default(""),
        label: {
          text: field.text,
          classes: field.id + " " + (field.labelClasses | default(""))
        },
        formGroup: {
          classes: "form-group " + (field.formGroupClasses | default(""))
        },
        attributes: { 'data-accessible-autocomplete': 'true' },
        items: field.options,
        value: field.value,
        errorMessage: errorMessage,
        isConditional: field.isConditional,
        hint: field.hint
      }) }}
    </div>

  {% case 'DATE' %}
    {% set dateAnswer = field.value %}
    {% if dateAnswer.length > 0 %}
      {% set answerDay = dateAnswer[2] %}
      {% set answerMonth = dateAnswer[1] %}
      {% set answerYear = dateAnswer[0] %}
    {% else %}
      {% set answerDay = '' %}
      {% set answerMonth = '' %}
      {% set answerYear = '' %}
    {% endif %}

    {{ govukDateInput({
      id: field.id,
      namePrefix: field.id,
      classes: field.classes | default(""),
      fieldset: {
        legend: {
          text: field.text,
          isPageHeading: false,
          classes: field.id + " " + (field.labelClasses | default(""))
        }
      },
      formGroup: {
        classes: "form-group " + (field.formGroupClasses | default(""))
      },
      hint: field.hint,
      items: [
        {
          classes: "govuk-input--width-2",
          name: "day",
          value: answerDay
        },
        {
          classes: "govuk-input--width-2",
          name: "month",
          value: answerMonth
        },
        {
          classes: "govuk-input--width-4",
          name: "year",
          value: answerYear
        }
      ],
      errorMessage: errorMessage,
      attributes: field.attributes
    }) }}

  {% default %}
    <!-- {{ field.id }} - {{ field.type }} questions are not currently rendered -->
{% endswitch %}
