---
# Per environment values which override defaults in hmpps-strengths-based-needs-assessments-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    hosts:
      - strengths-based-needs-test.hmpps.service.justice.gov.uk
      - strengths-based-needs-assessments-test.hmpps.service.justice.gov.uk

  env:
    INGRESS_URL: "https://strengths-based-needs-assessments-test.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-dev.prison.service.justice.gov.uk"
    SBNA_API_URL: "http://hmpps-strengths-based-needs-assessments-api.hmpps-strengths-based-needs-assessments-test.svc.cluster.local"
    HMPPS_ARNS_HANDOVER_URL: "https://arns-handover-service-test.hmpps.service.justice.gov.uk"
    OASYS_URL: "https://arns-oastub-test.hmpps.service.justice.gov.uk/"

  namespace_secrets:
    hmpps-strengths-based-needs-assessments-ui-feedback-url:
      FEEDBACK_URL: "FEEDBACK_URL"

  allowlist:
    mp-nat-egress-one: 13.43.9.198/32
    mp-nat-egress-two: 13.42.163.245/32
    mp-nat-egress-three: 18.132.208.127/32
    capita-dev: 51.104.16.30/31
    captia-further: 172.167.141.40/32
    capita-developers-vms-one: 85.115.52.180/32
    capita-developers-vms-two: 85.115.52.200/29
    capita-developers-vms-three: 85.115.53.180/32
    capita-developers-vms-four: 85.115.53.200/29
    capita-developers-vms-five: 85.115.54.180/32
    capita-developers-vms-six: 85.115.54.200/29
    user-vision-testers: 5.181.59.114/32
    t1-jump2022-1: 10.26.8.12/32

generic-prometheus-alerts:
  alertSeverity: hmpps-strengths-based-needs-assessments
