<!DOCTYPE html>
<head>
  <script src="/assets/mermaid.js" nonce="{{ cspNonce }}" integrity="sha256-OjBOn7pfA0G7xFidT58+o6MvHKSOkQkBeZDY34M7rII="></script>
</head>

<body>

<pre class="mermaid">
{{ diagram }}
</pre>

</body>
</html>