{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../partials/heading.njk" import renderSectionHeading with context %}
{% extends "../partials/layout.njk" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "../partials/header.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    {% include "../partials/offenderDetails.njk" %}
    {{ renderSectionHeading("Previous versions") }}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="back-link--previous-versions">
          {{ govukBackLink({
          text: "Back",
          href: "#",
          attributes: { "data-browser-back": "" }
          }) }}
        </div>
        <p>Check versions of {{ subjectDetails.givenName }}'s current assessment. The links will open in a new tab.</p>
      </div>
      <div class="govuk-grid-column-three-quarters">
          {% set tableRows = [] %}
          {% for date, versionsOnDate in previousVersions.versions %}
            {% set lastVersionOfTheDay = versionsOnDate.assessmentVersions | first %}
            {% set assessmentVersionLink %}
              <a href="/form/view/{{ lastVersionOfTheDay.uuid }}/accommodation-analysis" class="govuk-link" rel="noreferrer noopener" target="_blank">View<span class="govuk-visually-hidden"> assessment from {{ lastVersionOfTheDay.updatedAt | formatDateForDisplay }} (opens in new tab) </span></a>
            {% endset %}

            {% set row = [
              {
                html: date | formatDateForDisplay
              },
              {
                html: assessmentVersionLink
              }
            ]
            %}
            {% set tableRows = tableRows.concat([row]) %}
          {% endfor %}

          {{ govukTable({
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: false,
              head: [
                {
                  text: "Date"
                },
                {
                  text: "Assessment"
                }
              ],
              rows: tableRows
            })
          }}
        </div>
    </div>
    {{ super() }}
  </div>


{% endblock %}
