{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../partials/layout.njk" %}

{% block pageTitle %}
  {{ pageTitle }} - {{ applicationName }}
{% endblock %}

{% block header %}
  {% include "../partials/header.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    {% include "../partials/offenderDetails.njk" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="back-link--previous-versions">
          {{ govukBackLink({
          text: "Back",
          href: "#",
          attributes: { "data-browser-back": "" }
          }) }}
        </div>
      </div>

      {% if previousVersions and previousVersions.length > 0 %}
        <div class="govuk-grid-column-full">
          <p>Check versions of {{ subjectDetails.givenName }}'s current assessment. The links will open in a new tab.</p>
        </div>

        <div class="govuk-grid-column-three-quarters">
          {% set tableRows = [] %}
          {% for version in previousVersions %}
            {% set assessmentVersionLink %}
              <a href="/form/view-historic/{{ version.assessmentVersion.uuid }}/accommodation-tasks" class="govuk-link" rel="noreferrer noopener" target="_blank">View<span class="govuk-visually-hidden"> assessment from {{ version.assessmentVersion.updatedAt | formatDateForDisplay }} (opens in new tab) </span></a>
            {% endset %}

            {% set planVersionLink %}
               <a href="{{ spUrl }}/view-previous-version/{{ version.planVersion.uuid }}" class="govuk-link" rel="noreferrer noopener" target="_blank">View<span class="govuk-visually-hidden"> assessment from {{ version.planVersion.updatedAt | formatDateForDisplay }} (opens in new tab) </span></a>
            {% endset %}

            {% set row = [
              {
                html: version.updatedAt | formatDateForDisplay
              },
              {
                html: assessmentVersionLink
              },
              {
                html: planVersionLink
              }
            ]
            %}
            {% set tableRows = tableRows.concat([row]) %}
          {% endfor %}

          {{ govukTable({
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: false,
              head: [
                {
                  text: "Date"
                },
                {
                  text: "Assessment"
                }
              ],
              rows: tableRows
            })
          }}
        </div>
      {% else %}
        <div class="govuk-grid-column-full">
          <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-left-2 govuk-!-margin-bottom-8">There are no previous versions of {{ subjectDetails.givenName }}'s assessment yet.</p>
        </div>
      {% endif %}
    </div>
    {{ super() }}
  </div>


{% endblock %}
