name: Production pipeline [build -> test -> deploy]

on:
  push:
    branches:
      - production

permissions:
  contents: read
  packages: write
  checks: write
  pull-requests: write
  actions: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  helm_lint:
    strategy:
      matrix:
        environments: [ 'dev', 'test', 'preprod', 'prod' ]
    name: helm lint
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/test_helm_lint.yml@v2
    secrets: inherit
    with:
      environment: ${{ matrix.environments }}

  node_build:
    name: node build
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/node_build.yml@v2
    secrets: inherit

  node_unit_tests:
    name: node unit tests
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/node_unit_tests.yml@v2
    needs: node_build
    secrets: inherit

  build_docker:
    name: Build docker image
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/docker_build.yml@v2
    with:
      docker_registry: 'ghcr.io'
      registry_org: 'ministryofjustice'
      tag_latest: false
      push: false
      load: true
      docker_multiplatform: false
      upload_image_artifact: true
      image_artifact_retention_days: 10

  api_integration_tests:
    needs: build_docker
    uses: ./.github/workflows/api_integration_tests.yml
    with:
      app_version: ${{ needs.build_docker.outputs.app_version }}

  e2e_test:
    needs: build_docker
    uses: ./.github/workflows/e2e_test.yml
    with:
      app_version: ${{ needs.build_docker.outputs.app_version }}

  publish_docker:
    name: Publish docker image
    needs:
      - helm_lint
      - node_build
      - node_unit_tests
      - e2e_test
      - build_docker
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/docker_push.yml@v2
    with:
      docker_registry: 'ghcr.io'
      registry_org: 'ministryofjustice'
      app_version: ${{ needs.build_docker.outputs.app_version }}
      tag_latest: false

  deploy_test:
    name: Deploy to test environment
    needs:
      - build_docker
      - e2e_test
      - publish_docker
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'test'
      app_version: '${{ needs.build_docker.outputs.app_version }}'

  deploy_preprod:
    name: Deploy to pre-production environment
    needs:
      - build_docker
      - deploy_test
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'preprod'
      app_version: '${{ needs.build_docker.outputs.app_version }}'

  deploy_prod:
    name: Deploy to production environment
    needs:
      - build_docker
      - deploy_preprod
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'prod'
      app_version: '${{ needs.build_docker.outputs.app_version }}'
