{% from "components/summary/drugs-table/macro.njk" import renderDrugsTable %}

{%- macro renderSelectedOptions(field) -%}
  <ul class="govuk-list">
    {% for option in field.options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderSummaryListRow(label, value, changeLink) -%}
  <div class="govuk-summary-list__row as-block clearfix">
    <dt class="govuk-summary-list__key to-the-left">
      <span class="summary__label">{{ label }}</span>
    </dt>
    <dd class="govuk-summary-list__value to-the-left summary-value">
      {{ value }}
    </dd>
    <dd class="govuk-summary-list__actions to-the-right">
      <a class="govuk-link" href="{{ changeLink }}">
      Change<span class="govuk-visually-hidden">value for {{ label }}</span>
      </a>
    </dd>
  </div>
{%- endmacro -%}

{%- macro renderDrugUse(fields) -%}
  <ul class="govuk-list">
    {% for option in fields["drug_use"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderDrugUseReasons(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["drug_use_reasons"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {%- if option.value === "OTHER" -%}
            <span class="summary__answer--secondary">{{ answers["drug_use_reason_details"] }}</span>
          {%- endif -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderDrugUseImpact(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["drug_use_impact"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {%- if option.value === "OTHER" -%}
            <span class="summary__answer--secondary">{{ answers["drug_use_impact_details"] }}</span>
          {%- endif -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderReduceOrStopDrugUse(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["reducing_or_stopping_drug_use"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {%- if option.value === "YES" -%}
            <span class="summary__answer--secondary">{{ answers["reducing_or_stopping_drug_use_details"] }}</span>
          {%- endif -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderMotivatedToReduceOrStopDrugUse(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["motivated_stopping_drug_use"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro renderDrugUseChanges(fields, answers) -%}
  <ul class="govuk-list">
    {% for option in fields["drug_use_changes"].options %}
      {% if option.checked %}
        <li class="summary-details-list">
          <span class="summary__answer">{{ option.text }}</span>
          {%- switch option.value -%}
            {%- case "MADE_CHANGES" -%}
              <span class="summary__answer--secondary">{{ answers["drug_use_made_changes_details"] }}</span>
            {%- case "MAKING_CHANGES" -%}
              <span class="summary__answer--secondary">{{ answers["drug_use_making_changes_details"] }}</span>
            {%- case "WANT_TO_MAKE_CHANGES" -%}
              <span class="summary__answer--secondary">{{ answers["drug_use_want_to_make_changes_details"] }}</span>
            {%- case "NEEDS_HELP_TO_MAKE_CHANGES" -%}
              <span class="summary__answer--secondary">{{ answers["drug_use_needs_help_to_make_changes_details"] }}</span>
            {%- case "THINKING_ABOUT_MAKING_CHANGES" -%}
              <span class="summary__answer--secondary">{{ answers["drug_use_thinking_about_making_changes_details"] }}</span>
            {%- case "DOES_NOT_WANT_TO_MAKE_CHANGES" -%}
              <span class="summary__answer--secondary">{{ answers["drug_use_does_not_want_to_make_changes_details"] }}</span>
          {%- endswitch -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}

{% macro renderSummaryItemFor(field, options) %}
  {%- switch field -%}
  {% case "drug_use" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderDrugUse(options.fields),
      options.backLink + "#" + field
    ) }}
  {% case "drug_use_reasons" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderDrugUseReasons(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {% case "drug_use_impact" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderDrugUseImpact(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {% case "reducing_or_stopping_drug_use" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderReduceOrStopDrugUse(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {% case "motivated_stopping_drug_use" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderMotivatedToReduceOrStopDrugUse(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {% case "drug_use_changes" %}
    {{ renderSummaryListRow(
      options.fields[field].text,
      renderDrugUseChanges(options.fields, options.answers),
      options.backLink + "#" + field
    ) }}
  {%- endswitch -%}
{% endmacro %}

<dl class="govuk-summary-list as-block">
  {{ renderSummaryItemFor("drug_use", { fields: fields, answers: answers, backLink: "drug-use" }) }}
  {% if answers["drug_use"] !== "NO" %}
    {{ renderSummaryItemFor("drug_use_reasons", { fields: fields, answers: answers, backLink: "drug-use-details" }) }}
    {{ renderSummaryItemFor("drug_use_impact", { fields: fields, answers: answers, backLink: "drug-use-details" }) }}
    {{ renderSummaryItemFor("reducing_or_stopping_drug_use", { fields: fields, answers: answers, backLink: "drug-use-details" }) }}
    {{ renderSummaryItemFor("motivated_stopping_drug_use", { fields: fields, answers: answers, backLink: "drug-use-details" }) }}
    <div class="govuk-summary-list__row as-block govuk-summary-list__row--no-border">
      {{ renderDrugsTable({fields: fields, answers: answers, subject: subject}) }}
    </div>
    {{ renderSummaryItemFor("drug_use_changes", { fields: fields, answers: answers, backLink: "drug-use-changes" }) }}
  {% endif %}
</dl>
